body {
    background: #ddd;
    color: $white;
    font-family: $BodyRegular;
    width:100vw;
    position: relative;
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    &.no-scroll {
        overflow-y:hidden;
    }

}

html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

body:before {
    // dev mq util
    bottom:0;
    top: auto;
    right:0;
    left:auto;
    display:none;
}

img {
    border:0;
    width:100%;
    height:auto;
    display: block;
}

section {
    position: relative;
    width:100%;
    overflow: hidden;
}

p {
    //letter-spacing: 0.07rem;
    margin-top:0;
    font-size:1rem;
    @include mq($until: medium) {
        font-size:0.9rem;
    }
}

a {
    text-decoration: none;
    color: $blue;
    transition:color 0.2s ease-out;

    &:visited, &:focus {
        color: $blue;
    }

    &:hover {
        color: $orange;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $HeadingBold !important;
    //letter-spacing: 0.05rem;
    line-height:1.15;
    text-transform: uppercase;
    margin-top:0;
}

h1 {
    font-size:3.5rem;

    @include mq($until: large) {
        font-size:2.8rem;
    }

    @include mq($until: medium) {
        font-size:2.2rem;
    }
}

h2 {
    font-size:2.5rem;
    @include mq($until: medium) {
        font-size:1.75rem;
    }
}

h3 {
    font-size:1.50rem;
    @include mq($until: medium) {
        font-size:1.35rem;
    }
}

h4 {
    font-size:1.25rem;
    @include mq($until: medium) {
        font-size:1rem;
    }
}

.unbold {
    font-weight: 100;
}

.bold {
    font-weight: bold !important;
}

.light {
    font-family: $BodyLight !important;
}

.secondWord {
    color: $white;
    font-family: $BodyRegular;
}

.imageContainer {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    opacity: 0;
}

// socialSharing
.js-socialSharing {
    margin:2rem 0;

    .jssocials-share {
        margin:0 0.35rem;

        @include mq($until:large) {
            //margin:0 0.15rem;
        }

        &:first-of-type {
            margin-left: 0;
        }
    }

    .jssocials-shares {
        margin:0;
    }

    .jssocials-share-link {
        width:40px;
        height:40px;
        border-radius: 50%;
        position: relative;
        color: white !important;
        display: block;

        @include mq($until:large) {
            width:40px;
            height:40px;
        }

        a,a:visited {
            color: white !important;
        }

        .fa {
            z-index: 2;
            position: absolute;
            top:50%;
            left:50%;
            @include translate(-50%,-50%);
            font-size: 1.1rem;

            @include mq($until:large) {
                font-size: 1.1rem;
            }
        }

        .fa-linkedin {
            top:48%;

            @include mq($until:large) {

            }
        }

        .fa-google {
            left:42%;
        }

    }


    .js-share {
        position: absolute;
        top:0;
        left:15px;
        margin:0;
        opacity: 0;
        display: none;
        z-index: 18;
        background:#c0c0c0;
        padding:0.5rem;
        border-radius: 0.5rem;
        border-color: #c0c0c0;
        //overflow: hidden;

        &:after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-right-color:#c0c0c0;
            border-width: 10px;
            margin-top: -10px;
        }
        // background: rgba(255,255,255,0.8);

        @include mq($until:large) {
            left:10px;
        }


    }
}

// cta
.cta {
    //position: relative;
    //top: 600px;
    margin: 0 auto;
    font-family: $HeadingBold;
    max-width:auto;
    display: inline-block;
    padding:0.75rem 1.25rem;
    text-align: center;
    border-style: solid;
    border-color: $orange;
    border-radius: 1px;
    overflow: hidden;
    color: $orange !important;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;

    &.onwhite {
        &:hover {
            color: black !important;
            border-color: black;
        }
    }
    &:hover {
        cursor: pointer;
        color: $white !important;
        text-shadow:0px 0px 10px rgba(255,255,255,0.7);
        border-color: $white;
    }
}


.btn, .pitwallCTA a, .ff-btn, .elm-button, .ff-loadmore-wrapper .ff-btn {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px 20px;
    margin-bottom: 15px;
    white-space: normal;
    vertical-align: top;
    border-radius: 0 !important;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: all;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    font-family: $HeadingBold;
    font-weight: normal;
    color: #fe5000 !important;
    border: 2px solid #fe5000 !important;
    z-index: 10;
    background: transparent !important;
    cursor: pointer;

    &:before {
        content:"";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 -10px 0 -10px;
        overflow: hidden;
        pointer-events: none;
        -webkit-transform: skew(-20deg) translateX(-100%);
        transform: skew(-20deg) translateX(-100%);
        transition: all .25s ease-in-out;
        background: #fe5000;
    }

    &.btn-white {
        border: 2px solid white;
        color: white !important;
    }

    &:hover {
        color: white !important;
        border-color:#fe5000;
        &:before {
            transform: skew(-20deg) translateX(0);
        }

    }
}



// video player
.plyr--audio .plyr__controls button.tab-focus:focus, .plyr--audio .plyr__controls button:hover, .plyr__play-large {
    background: $orange;
}

.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
    background: $orange;
}


.plyr__progress--played, .plyr__volume--display {
    color: $orange;
}
