@font-face {
    font-family: 'proxima_novablack';
    src: url('assets/fonts/mark_simonson_-_proxima_nova_black.eot');
    src: url('assets/fonts/mark_simonson_-_proxima_nova_black.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/mark_simonson_-_proxima_nova_black.woff2') format('woff2'),
         url('assets/fonts/mark_simonson_-_proxima_nova_black.woff') format('woff'),
         url('assets/fonts/mark_simonson_-_proxima_nova_black.ttf') format('truetype'),
         url('assets/fonts/mark_simonson_-_proxima_nova_black.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novalight';
    src: url('assets/fonts/mark_simonson_-_proxima_nova_light.eot');
    src: url('assets/fonts/mark_simonson_-_proxima_nova_light.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/mark_simonson_-_proxima_nova_light.woff2') format('woff2'),
         url('assets/fonts/mark_simonson_-_proxima_nova_light.woff') format('woff'),
         url('assets/fonts/mark_simonson_-_proxima_nova_light.ttf') format('truetype'),
         url('assets/fonts/mark_simonson_-_proxima_nova_light.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('assets/fonts/mark_simonson_-_proxima_nova.eot');
    src: url('assets/fonts/mark_simonson_-_proxima_nova.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/mark_simonson_-_proxima_nova.woff2') format('woff2'),
         url('assets/fonts/mark_simonson_-_proxima_nova.woff') format('woff'),
         url('assets/fonts/mark_simonson_-_proxima_nova.ttf') format('truetype'),
         url('assets/fonts/mark_simonson_-_proxima_nova.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
