@font-face {
    font-family: 'icomoon';
    src:    url('assets/fonts/icomoon.eot?z17vyp');
    src:    url('assets/fonts/icomoon.eot?z17vyp#iefix') format('embedded-opentype'),
        url('assets/fonts/icomoon.ttf?z17vyp') format('truetype'),
        url('assets/fonts/icomoon.woff?z17vyp') format('woff'),
        url('assets/fonts/icomoon.svg?z17vyp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="Icon--"], [class*=" Icon--"],[class^="fa-"], [class*=" fa-"]  {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// js socials

.fa-twitter:before {
    content: "\f099";
}

.fa-facebook:before {
    content: "\f09a";
}

.fa-google:before {
    content: "\e903";
}

.fa-at:before {
    content: "\f0e0";
}

.fa-whatsapp:before {
    content: "\f232";
}

.fa-tumblr:before {
    content: "\eabb";
}

.fa-linkedin:before {
  content: "\eac9";
}


// icomoon

.Icon--purestorage:before {
  content: "\e904";
}
.Icon--shazam:before {
  content: "\e91a";
}
.Icon--google-plus:before {
  content: "\e903";
}
.Icon--facebook2:before {
  content: "\e60a";
}
.Icon--linkedin:before {
  content: "\e60c";
}
.Icon--twitter2:before {
  content: "\e620";
}
.Icon--hamburger:before {
  content: "\e61d";
}
.Icon--arrow-up:before {
  content: "\e600";
}
.Icon--arrow-down:before {
  content: "\e601";
}
.Icon--arrow-left:before {
  content: "\e602";
}
.Icon--arrow-right:before {
  content: "\e603";
}
.Icon--check:before {
  content: "\e901";
}
.Icon--info:before {
  content: "\e900";
}
.Icon--file:before {
  content: "\e902";
}
.Icon--arrow-up2:before {
  content: "\e096";
}
.Icon--film:before {
  content: "\f008";
}
.Icon--check2:before {
  content: "\f00c";
}
.Icon--close:before {
  content: "\f00d";
}
.Icon--remove:before {
  content: "\f00d";
}
.Icon--times:before {
  content: "\f00d";
}
.Icon--road:before {
  content: "\f018";
}
.Icon--camera:before {
  content: "\f030";
}
.Icon--video-camera:before {
  content: "\f03d";
}
.Icon--chevron-left:before {
  content: "\f053";
}
.Icon--chevron-right:before {
  content: "\f054";
}
.Icon--camera-retro:before {
  content: "\f083";
}
.Icon--twitter:before {
  content: "\f099";
}
.Icon--facebook:before {
  content: "\f09a";
}
.Icon--facebook-f:before {
  content: "\f09a";
}
.Icon--bars:before {
  content: "\f0c9";
}
.Icon--navicon:before {
  content: "\f0c9";
}
.Icon--reorder:before {
  content: "\f0c9";
}
.Icon--envelope:before {
  content: "\f0e0";
}
.Icon--angle-left:before {
  content: "\f104";
}
.Icon--angle-right:before {
  content: "\f105";
}
.Icon--angle-up:before {
  content: "\f106";
}
.Icon--angle-down:before {
  content: "\f107";
}
.Icon--flag-checkered:before {
  content: "\f11e";
}
.Icon--file-text:before {
  content: "\f15c";
}
.Icon--youtube-play:before {
  content: "\f16a";
}
.Icon--share-alt:before {
  content: "\f1e0";
}
.Icon--whatsapp:before {
  content: "\f232";
}
.Icon--search:before {
  content: "\f02e";
}
.Icon--arrow-up-right2:before {
  content: "\ea3b";
}
.Icon--instagram:before {
  content: "\ea90";
}
.Icon--youtube3:before {
  content: "\ea99";
}
.Icon--tumblr:before {
  content: "\eabb";
}
.Icon--linkedin2:before {
  content: "\eac9";
}

