footer#footer {
    background: black;
    padding:0 0 3rem 0;
    @include mq($until:medium) {
        text-align: center;
    }

    .titleHolder {
        margin-bottom:2rem;
        margin-top:3rem;
        @include mq($until:large) {
            margin-bottom:1rem;
        }

        h3 {
            margin:0;
            color: $orange;
            font-size: 1rem;
        }

        &.broughtBy {
            @include mq($until:large) {
                text-align: center;
            }
        }
    }

    .logoHolder {
        position: relative;
        text-align: center;
        //margin-bottom: 1rem;
        @include mq($from:large) {
            margin-bottom: 0;
        }
        img {
            max-width: 300px;
            display: inline-block;
            @include mq($from:medium) {
                max-width: 400px;
            }
        }
    }

    .hotspot {
        position: absolute;
        width:50%;
        height:80%;
        bottom:0;
        opacity: 0;
        &.ps {
            left:0;
        }

        &.mercedes {
            right:0;
        }
    }

    .linksHolder {
        ul {
            list-style-type: none;
            margin: 0;
            padding:0;
        }

        li {
            margin:0;
            padding:0;
            margin-bottom:0.25rem;

            a {
                color: $white;
                transition: all 0.2s ease-out;
                &:hover {
                    color: $orange;
                }
            }
        }


        &.sections {
            @include mq($from:medium) {
                column-count: 2;
            }
        }

        &.social {
            .Icon {
                width:25px;
                display: inline-block;
            }
        }

    }

}
