// forms

label {
    color: $orange;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    padding:0.5rem 1rem !important;
    border:1px solid $grey9 !important;
    box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.35) !important;
}

input[type="button"], input[type="submit"], input[type="submit"], .um-button input[type="submit"], .um-btn-auto-width, .elm-button, .um-modal-body .upload, .um-modal-btn {
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    padding: 8px 20px;
    margin-bottom: 15px;
    white-space: normal;
    vertical-align: top;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-property: all;
    transition-duration: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    font-family: $HeadingBold;
    font-weight: normal;
    color: $orange;
    border: 2px solid $orange;
    z-index: 10;
    background: transparent;
    cursor: pointer;

    &:hover {
        color: white !important;
        border-color: $orange;
        background: $orange;
        &:before {
            transform: skew(-20deg) translateX(0);
        }

    }
}

// registration, signup forms

.um {
    //margin-bottom:1rem !important;
}

.um-modal-header {
    font-family: $HeadingBold;
    text-transform: uppercase;
}

.um-social-login-wrap {
    width:100% !important;
    margin:0 !important;
    left:0 !important;
}

.um-field-label, .um-field-checkbox-option, .um-link-alt {
    text-transform: uppercase;
}


.um-link-alt {
    display: inline-block !important;
}

.um-button {
    color: black !important;
    border: 0 !important;
    text-transform: uppercase !important;
    &:hover {
        color:$orange !important;
    }
}

.um-button-social {
    border-radius: 0 !important;
    text-transform: default !important;
    min-width:250px;
    font-family: $BodyRegular !important;
    font-size: 1rem;
}

.um-button.um-alt {
    @include mq($from:medium) {
        margin-top: 0.5rem !important;
    }
}

.um-field-checkbox {
    width:100% !important;
}

.um-col-alt-b {
    padding-top: 0.5rem;
    text-align: center;
}


.um-field-error {
    border-radius: 3px;
    color: #fff;
    position: relative;
    font-size: 14px;
    line-height: 20px!important;
    text-transform: uppercase;
}

.um-error-block, .um-field-error, .um-notice.err {
    width: auto;
    max-width: 100%;
    background: $grey9 !important;
    box-sizing: border-box;
    padding: 12px;
    margin: 12px 0 0;
    text-transform: uppercase !important;
}

.um-field-arrow {
    top: -17px;
    left: 10px;
    position: absolute;
    z-index: 900;
    color: $grey9 !important;
    font-size: 28px;
    line-height: 1em!important;
}

.um-um_password_id.um {
    max-width: 600px !important;
    text-align: center;
}

.um-profile-photo {
    //pointer-events:none;
}

.um-header {
    padding:0 !important;
    margin:0 !important;
    border:0 !important;
}

.um.um-profile {
    margin-bottom:0 !important;
}

.um-profile-body {
    //display: none;
    padding:0 !important;
    margin-top:1rem;
}

div.uimob800 .um-header.no-cover .um-profile-photo a.um-profile-photo-img, div.uimob340 .um-header.no-cover .um-profile-photo a.um-profile-photo-img {
    min-width:180px !important;
    min-height:180px !important;
    max-width:220px !important;
    max-height:220px !important;
}

div.uimob500 .um-header.no-cover .um-profile-photo a.um-profile-photo-img {
    min-width:180px !important;
    min-height:180px !important;
}

.um-profile-photo-img {
    padding:0 !important;
}

.um-profile-edit-a {
    //display: none;
}

.um-profile.um-editing {
    padding-bottom: 45px !important;
}

.um-323.um .um-profile-headericon a {
    color: $orange !important;
}

.um-account-side {
    //width:50% !important;
}

div#um-shortcode-social-337 .um-col-alt a.um-button.um-button-social {
    margin-bottom:0 !important;
}
