header#header {
    width:100%;
    position: fixed;
    background: $black;
    z-index: 999;
    height:50px;

    .pp_logo {
        width: 220px;
        height: auto;
        transition: all 0.1s ease-out;

        @include mq($until:medium) {
            width:180px;
        }
    }

    .headerLogo {
        position: absolute;
        top:50%;
        left:2rem;
        @include translate(0,-50%);
        z-index: 5;
        @include mq($until:medium) {
            left:1rem;
        }
    }

    .menuToggle {
        position: absolute;
        top:50%;
        right:1rem;
        @include translate(0,-50%);
        z-index: 5;

        @include mq($from:large) {
            display: none;
        }

        .toggleButton {
            width:25px;
            height:40px;
            cursor: pointer;

            &:hover {
                .toggleLine {
                    box-shadow: 0px 0px 5px rgba(255,255,255,1);
                }
            }

            &.active {

                &:hover {
                    .toggleLine {
                        box-shadow: 0px 0px 10px rgba(254,80,0,1);
                    }
                }

                .toggleLine {
                    @include rotate(45deg);
                    top:20px;
                    background:$orange;

                    &:nth-child(1) {
                        width:0;
                        @include rotate(0);
                        background:$white;
                    }

                    &:nth-child(2) {
                        @include rotate(-45deg);
                        top:20px;
                        background:$orange;
                    }
                }
            }

            .toggleLine {
                width:100%;
                height:2px;
                border-radius: 2px;
                background: $white;
                position: absolute;
                left:0;
                top:10px;
                transition: all 0.1s ease-out;

                &:nth-child(1) {
                    top:20px;
                }

                &:nth-child(2) {
                    top:30px;
                }
            }
        }
    }

    .menuContainerMobile {
        position: absolute;
        z-index: 2;
        top:0px;
        left:0;
        width:100vw;
        height:100vh;
        display: none;

        @include mq($from:large) {
            display: none;
        }

        &.active {
            display: block;
        }

        nav {
            position: absolute;
            width: auto;
            height: auto;
            top:150%;
            left:50%;
            @include translate(-50%,-50%);
            text-align: center;
            z-index: 3;

            li {
                display: block !important;
                margin:0.5rem 0 !important;
            }

            &.active {
                top:50%;
                left:50%;
                @include translate(-50%,-50%);
            }

        }

        .menuContainerBg {
            position: absolute;
            width: 100%;
            height:100%;
            top:0;
            left:0;
            z-index: 1;
            background: black;
            opacity: 0;

            &.active {
                opacity: 0.85;
            }
        }
    }

    .menuContainer {
        display: block;
        width:auto;
        height: auto;
        position: absolute;
        right:2rem;
        left:auto !important;
        top:50%;
        @include translate(0,-50%);

        @include mq($until:large) {
            display: none;
        }
    }

    .menuContainer, .menuContainerMobile {

        .current-menu-item a {
            color: $white;
            text-shadow:0px 0px 10px rgba(255,255,255,0.7);
        }

        ul {
            list-style-type: none;
            padding:0;
            margin:0;

            li {
                display: inline-block;
                padding:0;
                margin:0;
                font-size: 1.4rem;
                text-transform: uppercase;
                transition: all 0.1s ease-out;

                @include mq($from:medium) {
                    font-size: 2rem;
                }

                @include mq($from:large) {
                    font-size: 0.72rem;
                }


                @include mq($from:wide) {
                    font-size: 1rem;
                }

                a {
                    color: $orange;
                    font-family: $HeadingBold;
                    padding:0.5rem 1rem;

                    @include mq($until:wide) {
                        padding:0.5rem 0.2rem;
                    }

                    &:last-child {
                        padding-right:0;
                    }

                    &:hover {
                        color: $white;
                        text-shadow:0px 0px 10px rgba(255,255,255,0.7);

                        .secondWord {
                            text-shadow:0px 0px 10px rgba(255,255,255,0.7);
                        }

                    }
                }
            }
        }
    }

}


// logged in bar
.loggedInBar {
    position: relative;
    background: $grey6;
    color: black;
    width:100%;
    height:50px;
    top:50px;
    z-index: 10;
    text-align: right;
    padding-right:2rem;
    padding-top:12px;
    text-transform: uppercase;
    line-height: 0;
    font-size:0.9rem;

    @include mq($until:medium) {
        padding-right:0.5rem;
    }

    .orange {
        color: $orange;
    }

    a {
        color: $black;
    }

    h4 {
        margin:0;
        display: inline-block;
        line-height: 0;
        font-size:1rem;
    }

    .userAvatarMini {
        width: 36px;
        position: relative;
        height:36px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.5rem;
        margin-top:-6px;
        line-height: 0;

    }

    img {
        width: auto !important;
        height:100% !important;
    }

}
