section.homePage {

    .homeTop {
        margin-top:50px;
        width:100%;
        height:70vh;
        min-height:380px;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.75);
        position: relative;

        @include mq($until:medium) {
            //height:70vh;
        }

        .panelContent {
            width: 100%;
            position: relative;
            z-index: 2;
            padding:2rem 0;
        }

        .videoBg {
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-color: $black;
            //background-image:url('assets/img/videoPoster.jpg');
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
            opacity: 0;

            video {
                pointer-events:none;
            }
        }

        .videoBgOverlay {
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-color: $black;
            opacity: 0.5;
            z-index: 2;
        }

        .shadowLogoHolder {
            position: relative;
            max-width: 700px;
            margin:0 auto;
            pointer-events:none;
        }

        .shadowLogo {
            width:100%;
            z-index: 3;
            opacity: 0;

            &.shadow {
                position: absolute;
                z-index: -1;
                opacity: 0.5;
                left:-2%;
                top:-29%;
                width: 100%;

            }
        }

        .raceCountdown {
            width: 100%;
            text-align: center;
            text-shadow: 0 0 15px rgba(0,0,0,0.7);
            opacity: 0;

            h3 {
                //color: $orange;
                margin:0;

                @include mq($until:small) {
                    //font-size:1rem;
                    margin-bottom:5px;
                }

                @include mq($until:medium) {
                    //font-size:1.1rem;

                }
            }

            h5 {
                margin-top:0.5rem;
                margin-bottom:3rem;
                font-family: $BodyLight !important;
                font-size:1.5rem;
                font-weight: 100;

                @include mq($until:large) {
                    font-size:1.45rem;

                }

                @include mq($until:medium) {
                    font-size:0.9rem;

                }

                @include mq($until:small) {
                    font-size:0.75rem;

                }
            }

            .countdownHolder {
                font-size:1.5rem;
                margin-top:0rem;
                @include mq($until:small) {
                    font-size:1.2rem;
                }
                text-transform: uppercase;

                span.countdown-amount {
                    font-family: $BodyRegular;
                    font-weight: bold;
                }

                span.countdown-period {
                    font-family: $BodyRegular;
                    margin-right:0.5rem;
                }

                .raceName {
                    //font-size:0.9rem;
                    margin:0.5rem 0 0.25rem 0;
                    color: white;
                    @include mq($until:small) {
                        //font-size:0.75rem;
                    }
                }
            }
        }

        .pitwallCTA {
            text-align: center;
            margin:3rem 0 0 0;
            text-transform: uppercase;
            font-family: $HeadingBold;

            ul, li {
                list-style-type: none;
                margin:0;
                padding:0;
            }

            /* a {
                padding:0.75rem 1.25rem;
                color: $black;
                background: $orange;
                transition: all 0.2s ease-out;
                text-shadow:none;
                font-size:1.2rem;

                &:hover {
                    color:$orange;
                    background: $white;
                    box-shadow: 0 0 20px rgba(255,255,255,0.5);
                }
            } */
        }
    }


    .homeBottom {
        background:$white;
        color: $black;
        width:100%;
        position: relative;
        z-index: 4;
        text-align: center;
        padding:4rem 0;

        @include mq($until:small) {
            padding:4rem 0 2rem 0;
        }

        h3 {
            color: $black;
            margin-bottom: 1rem;
            @include mq($until:large) {
                margin-bottom:1rem;
            }
        }

        .firstWord {
            margin-right:-2px !important;
        }

        .secondWord {
            color: $grey8;
            margin-left:-3px !important;
        }

        h4 {
            color:$orange;
        }

        .homeIconHolder {
            text-align: center;
            margin:0 auto;
            margin-top:0.75rem;
            margin-bottom: 1.75rem;
            width:75%;
            padding-bottom:75%;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            @include scale(1.0001);
            box-shadow: 0px 0px 20px 1px rgba(254, 80, 0, 0.4);
            transition: all 0.2s ease-out;
            &:hover {
                box-shadow: 0px 0px 20px 1px rgba(254, 80, 0, 1);
            }
        }

        .homeIcon {
            width:100%;
            height:100%;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-size:cover;
            position: absolute;
            box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.5);
            top:0;
            left:0;
            transition: all 0.2s ease-out;
            z-index: -1;
            backface-visibility:hidden;
            transform: translateZ(0.00001);
        }

        .homeIconLegend {
            height:46px;
        }

        .homeIconCopy {
            margin:1rem 0 0 0;
            color: $grey2 !important;
            font-size: 0.9rem;
        }


        ul {
            list-style-type: none;
            margin:0;
            padding:0;
            margin-top:2rem;

            li {
                list-style-type: none;
                //margin:2rem 0 1rem;
                padding:0;
                display: inline-block;
                padding:1rem 0.25rem;
                position: relative;
                text-align: center;
                width:13.8%;
                vertical-align: top;
                border-radius: 5px;
                min-height:200px;
                transition: all 0.2s ease-out;
                margin-bottom:2rem;

                @include mq($until:wide) {
                    width:20%;
                    //margin-top:1rem;
                }

                @include mq($until:medium) {
                    width:32%;
                    //margin-top:1rem;
                }

                @include mq($until:small) {
                    width:49%;
                }

                h4 {
                    margin:0;
                }

                &:hover {
                    //background: rgba(0,0,0,0.1);

                    .homeIcon {
                        @include scale(1.2);
                    }

                }


            }
        }

    }

    .home_product {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;

        .box {
            background-size: cover;
            background-position: center;
            min-height: 350px;
            width: 33.33333%;
            background-color: #1f2025;

            @include mq($until:medium) {
                width: 100%;
                min-height: 220px;
            }

        }

        .box_center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .box_content {
                padding: 3rem 0;
            }
        }
    }

        .homeProductTitle {
            br {
                display: block;
            }
            font-family: $HeadingBold;
            font-size: 22px;
            text-align: center;
        }

        .homeProductCopy {
            margin: 0 auto;
            width: 67%;
            padding: 25px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }

        .orange {
            color: $orange;
        }



        .homeProductCta {
            margin: 0 auto;
            font-family: $HeadingBold;
            width: 140px;
            padding: 4px;
            text-align: center;
            border-style: solid;
            border-color: $orange;
            border-radius: 1px;
            overflow: hidden;
            color: $orange;
            font-size: 14px;
            &:hover {
                cursor: pointer;
                color: $white;
                text-shadow:0px 0px 10px rgba(255,255,255,0.7);
                border-color: $white;
                transition: all 0.1s ease-out;
            }
        }


}
