.liveSocial {

    .sideBarContent {
        padding-top:0;
    }

    .pageSideBar {
        @include mq($until: large) {
            margin-top:2rem;
            h3 {
                margin-bottom:2rem;
            }
        }
    }

    h3.columnTitle,h3.columnTitle .secondWord {
        color: $grey9;
    }



    .ls_postsHolder {
        @include mq($from:small, $until: large) {
            //display: flex;
            //justify-content: space-between;

            .ls_postContainer {
                width:50%;
                display: inline-block;
                margin-left: -4px;
            }

        }
    }

    .ls_postContainer {
        margin-bottom:1.5rem;
        position: relative;
        padding:9rem 0 0rem 0;
        display: flex;
        align-items:center;
        width:100%;

        &:nth-child(even){

        }

        @include mq($until: large) {
            //width:50%;
            margin-bottom: 2rem;
        }

        @include mq($until: medium) {
            padding:7rem 0 0rem 0;
        }

        @include mq($until: small) {
            width:100%;
        }

        .ls_postContent {
            background: $orange;
            padding:1.25rem;
            width:80%;
            position: relative;
            z-index: 2;


            h3.ls_postUser {
                margin:0;
                color: white;
                margin-bottom: 0.5rem;
                line-height: 0.9;

                @include mq($until: wide) {
                    //font-size:1.2rem;
                }

                .ls_postMeta {
                    display: inline-block;
                    font-family: $BodyLight;
                    font-size: 60%;
                    text-transform: lowercase;
                    padding-left:1rem;
                    position: relative;

                    &:before {
                        content:'';
                        width:4px;
                        height:4px;
                        position: absolute;
                        top:25%;
                        left:5px;
                        background: white;
                        border-radius: 50%;

                    }
                }
            }

            p {
                font-size: 1.15rem;
                margin-bottom: 0;

                &:before {
                    content: open-quote;
                }
                &:after {
                    content: close-quote;
                }

                @include mq($until: wide) {
                    //font-size:1rem;
                }
            }
        }


        .ls_postImage {
            position: absolute;
            width:200px;
            height:200px;
            border-radius:50%;
            z-index: 1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            top:0;
            right:0;

            @include mq($until: medium) {
                width:150px;
                height:150px;
            }

            &.lewis {
                background-image: url('./assets/img/livesocial_lewis.png');
            }

            &.bottas {
                background-image: url('./assets/img/livesocial_bottas.png');
            }

            &.wolff {
                background-image: url('./assets/img/livesocial_wolff.png');
            }

            &.stanley {
                background-image: url('./assets/img/livesocial_stanley.png');
            }

            &.jonny {
                background-image: url('./assets/img/livesocial_jonny.png');
            }

            &.mercedes {
                background-image: url('./assets/img/livesocial_mercedes.png');
            }

        }


    }

}
