section.podiumPredictor.predictorMainPage, section.PPW_panelMain {
    background: $white;

    // header promo

    .withPromo {
        position: relative;
        .titleHolder {
            padding:0 !important;
        }
        @include mq( $until: large) {
            display: block !important;
            align-items: auto !important;
            justify-content: auto !important;
            height:350px !important;
            .pageHeroContent {
                position: relative !important;
                margin-top:2rem !important;
            }
        }
    }

    .promoContainer {
        width: 100%;
        max-width: 1600px;
        position: absolute;
        height:80%;
        bottom:0;
        left:50%;
        @include translate(-50%,0);
        z-index: 10;



        @include mq( $until: large) {
            height:45%;
            .promo {
                //min-width: 580px;
                //padding-top: 4rem;


                .promoWin {
                    width:130px;
                    height:130px;
                    font-size: 2.5rem;
                }

                .promoCopy {
                    margin-left: 0.5rem;
                }

                .promoCar {
                    right:5rem;
                }

                .promoLewis {
                    right:-2.2rem;
                    z-index: 1;
                }
            }
        }

        @include mq( $until: medium) {
            height:70%;
            .promo {
                width:100%;
                min-width: auto;
                bottom:0;
                padding-bottom: 9rem !important;
                padding-top:1rem;

                .promoWin, .promoCopy {
                    //display: block;
                    width: 100%;
                }

                .promoCopy {
                    margin-left:1rem;
                }

                .promoWin {
                    width:70px;
                    height:70px;
                    font-size: 1.6rem;
                    margin-left:1rem;
                    margin-bottom:0.5rem;
                    margin-top:1rem;
                }

                .promoCar {
                    right:10%;
                }

                .promoLewis {
                    right:-5%;
                    z-index: 1;
                }
            }
        }
    }

    .promo {
        //min-width:570px;
        //height:100%;
        //padding-bottom: 7rem;
        position: absolute;
        z-index: 5;
        top:0;
        right: 0;
        transition:all 0.2s ease-out;
        padding-right:2rem;
    }

    .promoWin {
        width:150px;
        height:150px;
        border-radius: 50%;
        background: $orange;
        color: white;
        font-size:3.2rem;
        font-family: $HeadingBold;
        position: relative;
        @include rotate(-30deg);
        box-shadow: 0 0 20px rgba(0,0,0,0.6);
        display: inline-block;
        transition:all 0.2s ease-out;
        vertical-align: middle;

        .promoWinCopy {
            position: absolute;
            top:50%;
            left:50%;
            @include translate(-50%,-50%);
        }
    }

    .promoCopy {
        display: inline-block;
        margin-left: 1rem;
        position: relative;
        z-index: 2;
        transition:all 0.2s ease-out;
        vertical-align: middle;

        h3,h5,a {
            margin:0;
            padding:0;
            text-shadow:0 0 10px rgba(0,0,0,0.6);
        }

        .smaller {
            font-size:51%;
        }

        h5 {
            font-size:1rem;
            margin-bottom:0.25rem;
        }

        h3 {
            font-size: 3.8rem;
            line-height: 0.45;
            margin:0.75rem 0 0.75rem 0;
        }

        a {
            color: $orange;
            border-bottom:1px dotted $orange;

            &:hover {
                color: $white;
                border-color: $white;
            }
        }
    }

    .promoLewis {
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        right:0;
        background-image: url('./assets/img/predictor_lewis.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: bottom right;
        z-index: 3;
        pointer-events:none;
        transition:all 0.2s ease-out;
    }

    .promoCar {
        width:100%;
        height:100%;
        position: absolute;
        bottom:-18%;
        right:30%;
        background-image: url('./assets/img/predictor_safetyCar.png');
        background-repeat: no-repeat;
        background-size: auto 65%;
        background-position: bottom right;
        z-index:1;
        pointer-events:none;
        transition:all 0.2s ease-out;
    }


    // page promo

    .pagePromoHolder {
        width:100%;
        background: $grey10;
        color: $white;
        text-align: center;
        padding:2rem 0;
        //margin:2rem 0;

        h2.prizesTitle {
            color: $black;
            margin-bottom: 1rem !important;
            font-size: 2.5rem;
        }

        .orange {
            color: $orange;
        }

        a {
            color: $black;
            border-bottom:1px dotted $black;
            font-weight: bold;
            &:hover {
                color:$orange;
                border-bottom:1px dotted $orange;
            }
        }

        .boxesHolder {
            width:100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            position: relative;
            //padding:1rem 0;

            @include mq($until: small) {
                padding:2rem 0;
                //flex-direction: column;
                //align-items: center;
            }
        }

        .promoCap {
            width:100%;
            padding-bottom:30%;
            background-image: url('./assets/img/predictor_cap.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin:0 auto;
            margin-bottom: 10px;
        }


        .box {
            position: relative;
            width:20%;
            /* display: flex;
            align-items: flex-start;
            justify-content: column; */
            overflow: visible;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            @include mq($until:large) {
                width:33.333%;
            }

            @include mq($until:medium) {
                width:50%;
            }

            h1,h2,h3,h4,h5 {
                margin-bottom: 0;
            }

            h2,h4, h3 {
                line-height: 0.8;
            }

            .boxtitle {
                width: 100%;
                color: $orange;
                font-family: $HeadingBold;
                margin-bottom:3px;
            }

            .positionLegend {
                width: 70%;
                margin:0 auto;
                text-align: left;
                font-size:2.5rem;
                margin-bottom:-1.25rem;

                sup {
                    font-size:60%;
                }
            }

            .otherprize {
                font-size: 1.3rem;
            }

            .prizeCircle {
                text-align: center;
                margin:0 auto;
                //margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                width:70%;
                padding-bottom:70%;
                position: relative;
                background-repeat: no-repeat;
                background-position: center;
                background-size:cover;
                transition: all 0.1s ease-out;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.5);
            }

            .prizeCopy {
                color: $orange;
                padding:0 10px;

                .black {
                    color: $black;
                }

                .orange {
                    color: $orange;
                }
            }


            /* .promoWin {
                width:180px;
                height:180px;
                font-size:3.8rem;
                position: absolute;
                top:50%;
                left:50%;
                @include transform(translate(-50%,-50%) rotate(-30deg));
            }

            .promoCar {
                bottom: 0;
                right: 0;
                flex: 1;
                background-position: center !important;
                background-size:contain;
                //width: 130%;
                //left:-5%;
            }

            .promoCopy {
                margin-left:0;
                width: 100%;
            }

            &.box1 {width:20%;flex-direction: column;}
            &.box2 {width:30%}
            &.box3 {padding:0}
            &.box4 {padding:0}
            &.box4 .boxContent {
                flex-direction: column;
                justify-items: space-between;
                align-items:center;
                h4 {
                    font-size: 1rem;
                }

                h3 {
                    font-size:1.6rem;
                }
            }

            @include mq($until:wide) {

                .promoWin {
                    width:170px;
                    height:170px;
                    font-size:3rem;
                }

            }

            @include mq($until:large) {
                width:50%;
                margin-bottom:1rem;
                //min-height:200px;
                &.box1 {width:35%}
                &.box2 {width:65%}
                &.box3{min-height:250px;}
                .promoCar {
                    width: 100%;
                }
            }

            @include mq($until:medium) {
                //min-height:300px;

                .promoWin {
                    width:150px;
                    height:150px;
                    font-size:2.7rem;
                }
            }


            @include mq($until:small) {
                width:100% !important;
                padding:0.5rem 0;

                .promoWin {
                    position: relative;
                    margin:0 auto;
                    left: auto;
                    top:auto;
                    @include rotate(-30deg);
                }

                &.box3{min-height:280px;}


            } */
        }
    }



    // signUp/signIn panels
    .signInUpContainer {
        background: $grey11;
        padding:1.5rem 1.5rem 0.5rem 1.5rem;
        width: 100%;
        position: relative;
        margin-bottom: 2rem;

        @include mq($until:medium) {
            padding:1rem 0.75rem;
        }

        .signUpPanel {
            background: $grey10;
            padding:1.5rem;
            display: flex;
            justify-content: row;
            width: 100%;
            position: relative;
            margin-bottom: 1.5rem;

            @include mq($until:medium) {
                display: inline-block;
                padding:1rem 0.75rem;
            }

            .signUpCopy {
                width:85%;
                text-transform: uppercase;
                line-height: 1.5;
                padding-right:2rem;

                @include mq($until:medium) {
                    width:100%;
                    display: inline-block;
                    margin-bottom: 1rem;
                    text-align: center;
                    font-size:0.9rem;
                    padding-left:0;
                }
            }

            .signUpLink {
                width:auto;
                display: flex;
                justify-content: center;
                align-items:center;
                margin-left: auto;

                @include mq($until:medium) {
                    width:100% !important;
                    display: inline-block;
                    text-align: center;
                }

                button {
                    min-width: 220px;
                    margin:0 0 0 2rem !important;

                    @include mq($until:medium) {
                         margin:0 !important;
                    }
                }
            }

        }

        .signInPanel {
            text-align: center;

            h2 {
                margin:0;
            }

            p {
                margin-bottom:1rem;
            }

            .um {
                margin-bottom:0.75rem !important;

                .um-button {
                    margin-top:0rem !important;
                }

                .um-button-linkedin {

                }
            }

            .div#um-shortcode-social-336 a.um-button.um-button-linkedin {
                margin-bottom: 0 !important;
            }

        }
    }

    // profile avatar

    .profileArea {
        text-align: center;
        margin-bottom:1.5rem;

        h3 {
            color: $black;
            margin:0;
        }

        a.profileLink {
            color: $orange;
            font-family: $HeadingBold;
            &:hover {
                color: $black;
            }
        }

        .avatarContainer {
            border-radius: 50% !important;
            overflow: hidden !important;
            max-width: 180px;
            height:180px;
            margin:0 auto;
            margin-bottom:0.5rem;
            overflow: hidden;
            position: relative;
            z-index: 2;
            img {
                position: absolute;
                width: auto;
                height:100%;
                top:50%;
                left:50%;
                @include translate(-50%,-50%);
                z-index: 1;
            }

        }

        .um-button {
            font-family: $HeadingBold !important;
            text-transform: uppercase !important;
            border:0 !important;
            border-radius: 0 !important;
            outline:0;
            padding:0.75rem 1.25rem;
            text-transform: uppercase;
            cursor: pointer;
            margin-top:0.5rem !important;
            font-size:1.2rem !important;
            transition: all 0.2s ease-out;

            &.um-alt {
                background: $grey10;
            }

            &:hover {
                color:$orange;
                background: $black !important;
                box-shadow: 0 0 20px rgba(0,0,0,0.4) !important;
            }
        }
    }


    // PODIUM PREDICTOR Interface

    .pred_titleHolder {
        padding:0 2rem 0 0;

        h2 {
            margin: 0 0 1rem 0;
        }

        @include mq($until:medium) {
            padding:0 2.5rem 0 0;
        }

        @include mq($until:small) {
            padding:0;
            text-align: center;
        }
    }

    .selectHolder {
        text-align: center;

        @include mq($until:small) {
            width: 100%;
        }

    }

    .racingPlugin {
        display:none;
    }

    .subtitle {
        display: inline-block;
    }

    .raceDisplay.topD {
        float: right;
        display: inline-block;
        text-align: left;

        @include mq($until:small) {
            float: none;
            margin:0 auto;
            display: inline-block;
            position: relative;
            margin-bottom: 2rem;
            width: 100%;
        }
    }

    .leaderBoardSelect {
        //margin-bottom:1rem;
        h2 {
            width:auto;
            display: inline-block;
        }
    }

    .raceDisplay.leadBD {
        float: right;
        display: inline-block;
        text-align: left !important;
        margin-bottom: 1rem;

        @include mq($until:small) {
            float: none;
            margin:0 auto;
            display: inline-block;
            position: relative;
            margin-bottom: 1.5rem;
            width: 100%;
        }
    }

    .raceSelect {
        max-width: 300px;
        min-width: 280px;
        position: relative;
        cursor:pointer;
        z-index: 888;
        //overflow: hidden;

        @include mq($until:large) {
            max-width: 300px;
            min-width: 265px;
        }

        @include mq($until:small) {
            width: 100%;
            max-width: 100%;
            min-width: auto;
        }

        .currentRace {
            width:100%;
            padding:5px;
            border:2px solid $grey10;
            border-radius: 3px;
            position: relative;
            z-index: 12;
            background: $white;
            box-shadow:inset 0 0 30px rgba(0,0,0,0.1);
        }

        .currentRaceName {
            display: inline-block;
            vertical-align: middle;
            margin-left:-4px;
            color: $black !important;
        }

        .optionFlag {
            width:52px;
            height:40px;
            background-size:contain;
            background-position: center;
            background-repeat: no-repeat;
            border:1px solid $grey11;
            background-color: $grey11;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin-right:1rem;

            &.Overall {background-image:url('assets/img/PureStorage_LogoMark.svg')}
            &.AustralianGP {background-image:url('assets/predictor/flags/01australia.svg')}
            &.ChineseGP {background-image:url('assets/predictor/flags/02china.svg')}
            &.BahrainGP {background-image:url('assets/predictor/flags/03bahrain.svg')}
            &.RussianGP {background-image:url('assets/predictor/flags/04russia.svg')}
            &.SpanishGP {background-image:url('assets/predictor/flags/05spain.svg')}
            &.MonacoGP {background-image:url('assets/predictor/flags/06monaco.svg')}
            &.CanadianGP {background-image:url('assets/predictor/flags/07canada.svg')}
            &.AzerbaijanGP {background-image:url('assets/predictor/flags/08azerbaijan.svg')}
            &.AustrianGP {background-image:url('assets/predictor/flags/09austria.svg')}
            &.BritishGP {background-image:url('assets/predictor/flags/10greatbritain.svg')}
            &.HungarianGP {background-image:url('assets/predictor/flags/11hungary.svg')}
            &.BelgianGP {background-image:url('assets/predictor/flags/12belgium.svg')}
            &.ItalianGP {background-image:url('assets/predictor/flags/13italy.svg')}
            &.SingaporeGP {background-image:url('assets/predictor/flags/14singapore.svg')}
            &.MalaysianGP {background-image:url('assets/predictor/flags/15malaysia.svg')}
            &.JapaneseGP {background-image:url('assets/predictor/flags/16japan.svg')}
            &.USAGP {background-image:url('assets/predictor/flags/17unitedstates.svg')}
            &.MexicanGP {background-image:url('assets/predictor/flags/18mexico.svg')}
            &.BrazilGP {background-image:url('assets/predictor/flags/19brazil.svg')}
            &.AbuDhabiGP {background-image:url('assets/predictor/flags/20abudhabi.svg')}
            &.FrenchGP {background-image:url('assets/predictor/flags/21france.svg')}
            &.GermanGP {background-image:url('assets/predictor/flags/22germany.svg')}
        }


        .currentRaceName, .option {
            font-family: $HeadingBold;
            color: $grey4;
            text-transform: uppercase;
            font-size: 1.1rem;

            @include mq($until:large) {
                font-size:1rem;
            }

        }

        .arrow {
            position: absolute;
            top:0;
            right:0;
            width:50px;
            height:100%;
            background: $grey10;
            border-radius: 3px 3px 0 0 ;
            z-index: 12;

            .Icon {
                position: absolute;
                top:50%;
                left: 50%;
                @include translate(-50%,-50%);
                font-size:2rem;
                color: $orange;
            }

        }

        .raceDropDown {
            width: 100%;
            height:330px;
            -webkit-overflow-scrolling: touch;
            overflow-y: auto;
            padding:5px;
            position: relative;
            background: white;
            border:2px solid $grey10;
            border-top:0;
            border-radius: 0 0 3px 3px;
            pointer-events:all;
            @include translate(0,-100%);
            left:0;
            top:0;

            .optionFlag {
                margin:5px 1rem 5px 5px;
            }

            &.active {
                @include translate(0%,0%);
            }
        }



        .raceDropDownHolder {
            top:100%;
            left:0;
            position: absolute;
            width:100%;
            z-index: 9;
            overflow: hidden;
            pointer-events:none
        }

        .option {
            width:100%;
            vertical-align: middle;
            cursor: pointer;
            transition: all 0.2s ease-out;

            &.selected, &:hover {
                background: $grey10;
                color: $black;
            }
        }

    }

    .raceMap {
        width:280px;
        float:right;
        height:200px;
        background-size:contain;
        background-position: center top;
        background-repeat: no-repeat;
        margin-bottom: 1.5rem;
        @include mq($until:small) {

            width: 100%;
        }
    }

    .raceFlag {
        width:106px;
        height:80px;
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        border:1px solid $grey10;
    }



    .raceDisplay.bottomD {


        @include mq($until:small) {
            text-align: center;
        }

        h3.raceName {
            margin-top:1.5rem;
            margin-bottom:1rem;
            font-family: $BodyLight !important;
            font-size: 2.1rem;

            @include mq($until:small) {
                font-size: 1.7rem;
                margin-top:0;
            }
        }

        h5 {
            margin-bottom: 0;
        }

        .raceLocation {
            margin-bottom: 2rem;
        }

        h4 {
            margin-bottom: 0;
            font-family: $HeadingBold !important;

            &.orange {
                color:$orange;
                //font-family: $BodyRegular !important;
            }
        }
        .raceTime {
            text-transform: uppercase;
            font-size:1.2rem;
            color: $orange;
            font-family: $HeadingBold !important;

            span.countdown-amount {
                font-family: $HeadingBold;
            }

            span.countdown-period {
                font-family: $BodyRegular;
                margin-right:0.25rem;
            }

            &:before {
                content:'Prediction Deadline: ';
                color: $black;

            }
        }

        .raceTimeLegend {
            margin-bottom:1rem;
            text-transform: uppercase;
            font-size:0.85rem;
            font-weight: bold;
            color: $grey9;
            max-width: 500px;
        }

    }


    // main predictor interface
    .mainPredictorInterface {
        opacity: 0.7;
        user-select: none;
        cursor: pointer;

        h3 {
            font-size: 2rem;
            @include mq($until:medium) {
                font-size:1.5rem;
            }

            @include mq($until:small) {
                font-size:1.33rem;
            }
        }

        .driverDisplay {
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: contain;
        }

        .predictorContainer {
            background: $grey10;
            pointer-events:none;

            .driverOptions {
                line-height: 0;
                width:100%;

                .driverOption {
                    width:10%;
                    height:auto;
                    display: inline-block;
                    margin:0;
                    border:1px solid $grey11;
                    cursor: pointer;
                    transition: opacity 0.2s ease-out;

                    // img {
                    //     padding:15%;
                    // }

                    @include mq($until:medium) {
                        width:25%;
                    }

                    &:hover {
                        opacity: 0.5;
                    }

                    &.selected {
                        border:4px solid #fbac88;
                        cursor: default;
                        pointer-events:none;
                        background: #fbac88;

                        img {
                            opacity: 0.75;
                        }

                    }

                    &.unavailable {
                        cursor: default;
                        pointer-events:none;
                        background: $grey5;

                        img {
                            opacity: 0.5;
                        }

                    }

                }
            }

            .predictorForm {
                width: 100%;
                display: flex;

                @include mq($until:medium) {
                    display: block;
                }


            }

            .predictorSubmit {
                text-align: center;
                padding:2rem 0;
                border: 1px solid $grey11;



                input {
                    margin:0 auto !important;
                    &.disabled {
                        opacity: 0.5;
                        pointer-events:none;
                        background: $grey4 !important;
                    }
                }
            }

            .messageAlert {
                width:100%;
                height:0;
                position: relative;
                overflow: hidden;
                background: $grey11;

                .msgContent {
                    top:0;
                    left:0;
                    width:100%;
                    height: auto;
                    text-align: center;
                    padding:1rem;

                    color: $black;
                    position: absolute;
                }

                h5 {
                    margin:0;
                    font-size: 1.1rem;
                    @include mq($until:medium) {
                        font-size:0.95rem;
                    }
                }
            }

            .driverInfo {
                width:40%;
                border: 1px solid $grey11;
                padding:1rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content:space-around;



                /* .driverPicture {
                    //min-height:300px;
                    position: relative;
                    border:1px solid $grey11;
                    border-top:0;
                    width:auto;
                    padding-bottom:100%;

                    @include mq($until:medium) {
                        padding-bottom:50%;
                    }

                    @include mq($until:small) {
                        padding-bottom:100%;
                    }


                    img {
                        position: absolute;
                        width: auto;
                        height:100%;
                        top:50%;
                        left:50%;
                        @include translate(-50%,-50%);
                    }
                } */

                .driverPictureHolder {
                    width:100%;
                    padding:1rem 0 0 0;
                    line-height: 0;



                    @include mq($until:medium) {
                        padding:1rem;
                    }

                    @include mq($until:small) {
                        padding:1rem 0 0 0;
                    }
                }

                .driverPicture {
                    //min-height:300px;
                    position: relative;
                    border:1px solid $white;
                    background: $white;
                    border-top:0;
                    width:200px;
                    height:200px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin:0 auto;
                    //box-shadow: inset 0 0 30px rgba(0,0,0,0.3);
                    line-height: 0;
                    z-index: 2;

                    border:4px solid;

                    @include mq($until:medium) {

                    }

                    @include mq($until:small) {

                    }


                    img {
                        position: absolute;
                        width: auto;
                        height:70%;
                        top:50%;
                        left:50%;
                        @include translate(-50%,-50%);
                        z-index: 1;
                    }
                }

                .driverData {
                    padding:1rem;
                    position: relative;
                    //border-bottom:1px solid $grey11;
                    min-height: 100px;

                    .driverName {
                        margin:0;
                    }

                    .driverTeam {
                        margin:0;
                        font-family: $BodyLight !important;
                        margin-bottom:1.5rem;
                    }

                    h3.data {

                        margin:0;
                        margin-bottom:1.25rem;
                        font-size:1.5rem;
                        &:last-child{
                            margin:0;
                        }
                    }

                    h5 {
                        margin:0;
                        font-size:0.9rem;
                        font-family: $BodyLight !important;
                    }


                }

                @include mq($until:medium) {
                    width:100%;


                    .driverInfoContent {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }

                    .driverPictureHolder, .driverData {
                        width:50%;
                    }

                    .driverPictureHolder {
                        display: flex;
                        justify-content: column;
                        align-items: center;
                        height:100%;
                        position: relative;
                    }
                }

                @include mq($until:small) {
                    display: block;
                    .driverPictureHolder, .driverData {
                        width:100%;
                    }
                    .driverInfoContent {
                        display: block;
                    }
                }
            }


            .predictorOptions {
                width:60%;
                padding:2rem;
                border: 1px solid $grey11;

                @include mq($until:large) {
                    padding:1rem;
                }

                @include mq($until:medium) {
                    width:100%;
                    border-left:0;
                }

                h3 {
                    line-height: 1;
                    margin-bottom: 0.5rem;

                    &.bonusPoints {
                        margin-top:3rem;

                        @include mq($until:small) {
                            text-align: center;
                        }
                    }

                    @include mq($until:small) {
                        font-size:1.4rem;
                    }
                }

                h3,h5 {

                }

                h5 {
                    font-family: $BodyLight !important;
                    margin-bottom: 0;
                }

                .predictorOptionsHolder {
                    margin:1rem 0 0 0;
                    width:100%;
                    max-width:450px;
                    display: flex;
                    justify-content: space-between;
                    align-items:center;

                    @include mq($until:medium) {
                        max-width: 100%;
                    }

                    &.bottom {
                        max-width: 100%;
                        align-items: flex-start;

                        @include mq($until:wide) {
                            //display: block;
                            flex-direction: row;
                            flex-wrap: wrap;


                            .pred_OptionItem {
                                margin-bottom: 2rem;

                                &.qualiPole {
                                    width:40%;
                                    max-width: 40%;
                                }

                                &.qualiTime {
                                    width:60%;
                                    max-width:60%;
                                }
                            }

                            .pred_OptionItem.row1 {

                                .entry{
                                    height:100px;
                                }

                            }

                            .pred_OptionItem.row2 {
                                max-width: 33.333%;
                                width:33.333%;

                                .entry{
                                    height:60px;
                                }
                            }

                        }

                        @include mq($until:large) {

                        }

                        @include mq($until:medium) {


                        }

                        @include mq($until:small) {

                            .pred_OptionItem {
                                max-width: 100% !important;
                                width:100% !important;
                                .entry{
                                    height:auto;
                                }
                            }

                            .qualiTime {
                                .entry {
                                    margin-bottom:2.5rem;
                                    height:56px !important;
                                }
                            }

                            .pred_OptionItem.row2 {

                                .entry{
                                    height:auto;
                                }
                            }

                            .supLegend {
                                margin:0 !important;
                                margin-bottom:0.3rem !important;
                            }

                        }

                        .bonusLegend {

                        }
                    }

                    .js-position {
                        cursor: pointer;

                         &.selected {
                            pointer-events:none;

                            .positionAvatar {
                                opacity: 1;
                                border-color: $orange;

                            }
                        }


                    }

                    .positionLegend {
                        font-family: $HeadingBold;
                        font-size: 1.5rem;
                        margin-bottom: -0.5rem;

                        sup {
                            font-size:60%;
                        }

                    }

                    .bonusLegend {
                        height:32px;
                        text-align: center;

                        h5 {
                            display: inline-block;
                        }

                        .bonusIcon {
                            display: inline-block;
                            width:20px;
                            height:20px;
                            background-size:contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            vertical-align: top;
                            margin-top:0px;

                            &.time {
                                background-image:url('assets/img/icon_time.svg');
                            }

                            &.safety {
                                background-image:url('assets/img/icon_safety.svg');
                            }

                            &.dnf {
                                background-image:url('assets/img/icon_DNF.svg');
                            }
                        }

                    }

                    .entry {

                        width:100%;
                        height:100px;
                        @include mq($until:small) {
                            height:80px;
                        }

                        margin-top:0.5rem;
                        margin-bottom:0.5rem;
                        display: flex;
                        align-items: center;
                        text-align: center;

                        &.switch {
                            line-height: 0;
                        }

                        .entryInner {
                            margin:0 auto;
                            user-select:none;
                        }

                        input[type=checkbox] {
                            visibility: hidden;
                            line-height:0;
                        }

                        .supLegend {
                            text-transform: uppercase;
                            color: $grey4;
                            margin-top:-2rem;
                            font-size:0.9rem;
                            margin-bottom:0.4rem;

                            .lastYearPoleTime {
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                        }

                        .customCheckbox
                        {
                            width: 80px;
                            height: 40px;
                            position: relative;
                            margin:0 auto;
                            line-height:0;
                        }
                        .customCheckbox div
                        {
                            width: 100%;
                            height:40px;
                            background: #bbc7cb;
                            border-radius: 50px;
                            position: relative;
                            top:-14px;
                            transition: all 0.2s ease-out;
                            box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
                            line-height:0;
                        }
                        .customCheckbox label
                        {
                            display: block;
                            width: 40px;
                            height: 40px;
                            border-radius: 50px;

                            -webkit-transition: all .5s ease;
                            -moz-transition: all .5s ease;
                            -o-transition: all .5s ease;
                            -ms-transition: all .5s ease;
                            transition: all .5s ease;
                            cursor: pointer;
                            position: absolute;
                            top: 0;
                            z-index: 1;
                            left: 0px;
                            background: #FFF;
                            line-height:0;
                            box-shadow: 0 0 20px rgba(0,0,0,0.3);
                        }

                        .customCheckbox input[type=checkbox]:checked ~ div
                        {
                            background: $orange;
                        }

                        .customCheckbox input[type=checkbox]:checked ~ label {
                            left: calc(100% - 36px);
                        }


                        input[type="text"] {
                            padding:10px 0px 10px 0px !important;
                            font-family: $BodyRegular;
                            text-align: center;
                            box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
                            border:1px solid $grey4;
                            outline:0;

                            &:focus {
                                border-color: $orange;
                            }
                        }

                        .pred_MM, .pred_SS, .pred_CC {
                            position: relative;
                            &:after {
                                white-space: pre;
                                position: absolute;
                                bottom:-37px;
                                left:50%;
                                @include translate(-50%,0);
                                font-size:0.6rem;
                                width: 100%;
                                text-align: center;
                                color: $grey4;
                            }
                        }

                        .pred_MM {
                            input[type="text"] {
                                max-width:40px;
                            }
                            &:after {
                                content:'(MM)\a MINUTES';
                            }
                        }

                        .pred_SS {
                            position: relative;
                            input[type="text"] {
                                max-width:40px;
                            }
                            &:after {
                                content:'(SS)\a SECONDS';
                            }
                        }

                        .pred_CC {
                            position: relative;

                            input[type="text"] {
                                max-width:50px;
                            }

                            &:after {
                                content:'(CCC)\a MILLISECONDS';
                            }
                        }

                        .pred_DNF {
                            position: relative;
                            input[type="text"] {
                                max-width:40px;
                            }
                        }

                        .plusMinus {
                            max-width:20px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left:-1px;
                            button {
                                padding:0 !important;
                                font-size: 1rem !important;
                                width:100%;
                                display: inline-block;
                                margin:0 !important;
                                margin-bottom: 2px !important;
                                user-select:none;
                            }


                        }

                    }

                    .positionAvatar {
                        width:100px;
                        height:100px;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: $grey11;
                        margin:0 auto;
                        margin-bottom:0.5rem;
                        border:2px solid $grey10;
                        transition: all 0.2s ease-out;
                        box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.5);
                        background-image:url('assets/img/blankUser.png');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;

                        &:hover {
                            opacity: 0.5;
                        }

                        @include mq($until:small) {
                            width:80px;
                            height:80px;
                        }


                        /* &.LewisHamilton{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0000_01Hamilton.jpg')}
                        &.ValtteriBottas{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0001_02Bottas.jpg')}
                        &.SebastianVettel{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0005_06Vettel.jpg')}
                        &.KimiRaikkonen{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0004_05Raikkonen.jpg')}
                        &.DanielRicciardo{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0002_03Ricciardo.jpg')}
                        &.MaxVerstappen{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0003_04Verstappen.jpg')}
                        &.FelipeMassa{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0008_09Massa.jpg')}
                        &.LanceStroll{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0009_10Stroll.jpg')}
                        &.EstebanOcon{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0006_07Ocon.jpg')}
                        &.SergioPerez{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0007_08Perez.jpg')}
                        &.FernandoAlonso{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0010_11Alonso.jpg')}
                        &.StoffelVandoorne{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0011_12Vandoorne.jpg')}
                        &.CarlosSainz{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0013_14Sainz.jpg')}
                        &.DaniilKvyat{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0012_13Kvyat.jpg')}
                        &.RomainGrosjean{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0015_16Grosjean.jpg')}
                        &.KevinMagnussen{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0014_15Magnussen.jpg')}
                        &.NicoHulkenberg{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0016_17Hulkenberg.jpg')}
                        &.JolyonPalmer{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0017_18Palmer.jpg')}
                        &.MarcusEricsson{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0018_19Ericsson.jpg')}
                        &.PascalWehrlein{background-image:url('assets/predictor/drivers/thumbnails/DriverThumbnail_0019_20Wehrlein.jpg')} */

                        &.LewisHamilton{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0000_01Hamilton.png')}
                        &.ValtteriBottas{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0001_02Bottas.png')}
                        &.SebastianVettel{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0005_06Vettel.png')}
                        &.KimiRaikkonen{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0004_05Raikkonen.png')}
                        &.DanielRicciardo{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0002_03Ricciardo.png')}
                        &.MaxVerstappen{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0003_04Verstappen.png')}
                        &.FelipeMassa{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0008_09Massa.png')}
                        &.LanceStroll{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0009_10Stroll.png')}
                        &.EstebanOcon{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0006_07Ocon.png')}
                        &.SergioPerez{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0007_08Perez.png')}
                        &.FernandoAlonso{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0010_11Alonso.png')}
                        &.StoffelVandoorne{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0011_12Vandoorne.png')}
                        &.CarlosSainz{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0013_14Sainz.png')}
                        &.DaniilKvyat{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0012_13Kvyat.png')}
                        &.RomainGrosjean{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0015_16Grosjean.png')}
                        &.KevinMagnussen{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0014_15Magnussen.png')}
                        &.NicoHulkenberg{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0016_17Hulkenberg.png')}
                        &.JolyonPalmer{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0017_18Palmer.png')}
                        &.MarcusEricsson{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0018_19Ericsson.png')}
                        &.PascalWehrlein{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0019_20Wehrlein.png')}

                        &.CharlesLeclerc{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0054_54SLeclerc.png')}
                        &.SergeySirotkin{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0055_55Sirotkin.png')}

                        &.PierreGasly{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0021_23Gasly.png')}
                        &.BrendonHartley{background-image:url('assets/predictor/driverNumbers2018/DriverThumbnail_0024_39Hartley.png')}

                    }

                    .positionPoints {
                        text-align: center;
                        font-size:0.9rem;
                        color: $grey4;

                    }
                }


            }

        }

    }


    // lederboard

    .leaderBoardHolder {
        position: relative;

        text-transform: uppercase !important;
        table.motorracingleague {
            margin:0 !important;

            caption {
                padding:0.5rem;
                font-family: $HeadingBold;
            }

            thead:nth-child(1) {
                background: $black;

            }
        }

        table.motorracingleague th {
            border:0;
            //background: $black;

            color: $orange;
            padding:0.5rem;
            font-family: $HeadingBold;
           // color: $orange;

        }

        table.motorracingleague thead {
            //background: $black;

        }

        table.motorracingleague td {
            vertical-align: middle;
            padding: 10px;
            border: 0;
            margin: 0;
            //border-bottom: 1px solid #f1f1f1;
            white-space: nowrap;

        }

        .motorracingleague_player {
            //background: $black;
        }


        table.motorracingleague tbody tr {
                background: $grey10;
                //color: $black !important;
                .motorracingleague_player {
                    color: $black;
                }


            &:nth-child(odd){
                background: $grey11;
            }
        }

        h2 {
            margin-bottom:1rem;
        }

        .statsContainer {
            position: relative;
        }

        .statsContainer .statsHolder {
            position: absolute;
            top:0;
            left:0;
            width:100%;
        }

        .statsHolder {
            overflow-x:auto;
            h3 {
                display: none;
            }
            ul,li{
                list-style-type: none !important;
                margin:0 !important;
                padding:0 !important;
            }

        }

        .panelContent {
            overflow: hidden;
            height:100%;

            .statsHolder {
                display: none;
                opacity: 0;

                &.selected {
                    display: block;
                }
            }

        }

        .mainLeaderBoardPanel {
            margin-bottom:1.5rem;
        }
    }




    &.logged-in {
        .mainPredictorInterface {
            opacity: 1;
            cursor: default
        }
        .predictorContainer {
            pointer-events:all;;
        }
    }



    // RESULTS PAGE

    &.predictorResults {
        // heading
        .heading {
            margin-top: 50px;
            background: white;
            color: $orange;
            padding: 4rem 1rem;
            text-align: center;

            @include mq($until:medium) {
                padding:2.5rem 1rem;
            }

            h1 {
                margin:0;

                .slim {
                    font-weight: 100 !important;
                    color: $grey2;
                }
            }
        }
        // results podium
        .resultsPodium {
            background-color: black;
            background-image: url('assets/img/predictor_resultPodiumBg.jpg');
            background-size: cover;
            background-position: center;
            padding: 4rem 0.5rem;
            position: relative;
            @include mq($until:medium) {
                padding:2.5rem 1rem;
            }

            .bgOverlay {
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background: black;
                opacity: 0.7;
                z-index: 1;
            }

            .content {
                position: relative;
                z-index: 2;
                text-align: center;
            }

            .podium {

                max-width: 800px;
                margin:0 auto;
                display: flex;
                align-items: flex-end;

                .podiumPlace {
                    width:33%;

                    @include mq($until:small) {
                        h2,h3,h4,h5,h6 {
                            font-size:0.7rem;
                        }

                        h6 {
                            margin-bottom: 0 !important;
                            font-size: 0.6rem;
                        }

                        h2,h3 {
                            font-size: 1.1rem;
                        }
                    }

                    .info {
                        margin-bottom: 1rem;
                        z-index: 4;
                        position: relative;

                        .winner {
                            color: $orange;
                            font-size: 2rem;
                            @include mq($until:medium) {
                                font-size:1.5rem;
                            }

                            @include mq($until:small) {
                                font-size:1rem;
                            }

                        }

                    }

                    .place {
                        background: $orange;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &.place1 {
                            height:150px;
                        }
                        &.place2 {
                            height:100px;
                        }
                        &.place3 {
                            height:75px;
                        }
                        .placeLegend {
                            font-size: 2rem;
                            font-weight: bold;
                            color:black;
                            font-family: $HeadingBold;
                        }

                    }
                }


                .prizeCircle {
                    text-align: center;
                    margin:0 auto;
                    //margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                    width:70%;
                    padding-bottom:70%;
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size:cover;
                    transition: all 0.1s ease-out;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.5);
                }

                .prizeCopy {
                    color: white;
                    padding:0 10px;
                    h2,h3,h4,h5,h6 {
                        margin:0;
                        line-height: 0.9;
                    }

                    h6 {
                        margin-bottom: 0.2rem;
                    }
                }

            }
        }

        // finishing stats
        .finishStats {
            width: 100%;
            color: black;
            padding: 4rem 0rem;
            position: relative;
            text-align: center;

            .container-fluid {
                max-width: 1400px;
            }
            @include mq($until:medium) {
                padding:2.5rem 1rem;
            }

            h2 {
                color: $orange;
                margin-bottom: 3rem;
            }

            .statsHolder {
                width:100%;
                display: flex;

                @include mq($until:medium) {
                    display: block;
                }

                .statGroup {
                    display: flex;
                    flex-direction:row-reverse;

                    &.left {
                        width:66.666%;

                        .statPlace {
                            width:50%;
                        }

                        @include mq($until:medium) {
                            width:100%;
                            display: block;
                            .statPlace {
                                width:100%;
                            }
                        }

                    }

                    &.right {
                        width:33.3333%;
                        .statPlace {
                            width:100%;
                        }

                        @include mq($until:medium) {
                            width:100%;
                        }

                    }
                }

                .winnerAvatar {
                    text-align: center;
                    margin:0 auto;
                    margin-bottom: 1.5rem;
                    width:100px;
                    padding-bottom:100px;
                    position: relative;
                    background-color: $grey10;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size:cover;
                    transition: all 0.1s ease-out;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.3);
                }

                .statBox {
                    margin:0 auto;
                    @include mq($until:medium) {
                        margin-bottom:4rem;
                        &.last {
                            margin-bottom: 0;
                        }
                    }

                    .statLine {
                        display: flex;
                        align-items:center;
                        margin: 0 auto;
                        margin-bottom: 0.5rem;
                        width: 220px;

                        .statIcon {
                            width: 100px;
                            margin-right:1rem;

                            img {
                                width:30px;
                                height: 30px;
                                margin:0 auto;

                                &.flags {
                                    width:50px;
                                    height:50px;
                                }
                            }

                        }

                        .statCopy {
                            width:260px;
                            margin:0 auto;

                            .statTitle {
                                text-transform: uppercase;
                                color: $orange;
                                font-weight: bold;
                                font-family: $HeadingBold;
                                text-align: left;
                            }

                            .statResult {
                                text-transform: uppercase;
                                text-align: left;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }

        // race by race
        .raceByRace {
            width: 100%;
            color: black;
            background: rgba(217,217,217,1);
            background: -moz-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(238,238,238,1) 50%, rgba(217,217,217,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(217,217,217,1)), color-stop(50%, rgba(238,238,238,1)), color-stop(100%, rgba(217,217,217,1)));
            background: -webkit-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(238,238,238,1) 50%, rgba(217,217,217,1) 100%);
            background: -o-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(238,238,238,1) 50%, rgba(217,217,217,1) 100%);
            background: -ms-linear-gradient(left, rgba(217,217,217,1) 0%, rgba(238,238,238,1) 50%, rgba(217,217,217,1) 100%);
            background: linear-gradient(to right, rgba(217,217,217,1) 0%, rgba(238,238,238,1) 50%, rgba(217,217,217,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#d9d9d9', GradientType=1 );
            padding: 4rem 0rem;
            position: relative;
            text-align: center;

            .holder {
                max-width: 1400px;
                margin:0 auto;
                position: relative;
            }
            @include mq($until:medium) {
                padding:2rem 1rem 4rem 1rem;
            }


            .swiper-container {
                width: 100%;
                height: 100%;
            }

            .resultsSlider .swiper-slide {
                background-size: cover;
                background-position: center;
                text-align: left;
                height:auto;
                position: relative;

                user-select:none;
                //padding:0 1rem;
                margin-bottom:4rem;
                width:100%;

                @include mq($until:large) {
                   // height:350px;
                }

                @include mq($until:medium) {
                    //height:500px;
                }

                h1 {
                    color: $orange;
                    margin-bottom:0;

                    @include mq($from: large) {
                        font-size:5rem;
                    }
                }

                ul, li {
                    list-style-type: none;
                    margin:0;
                    padding:0;
                }

                li {
                    display: inline-block;
                    padding-right:1rem;
                }

                ul {
                    display: flex;
                    justify-content: space-around;
                }

                .holder {
                    max-width:850px;
                    display: flex;
                    flex-wrap:wrap;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding:0 2rem;
                    padding-bottom:2rem;
                    margin-bottom: 2rem;
                    @include mq($until:medium){
                        margin-bottom:0;
                    }
                }


                .winnerAvatar {
                    text-align: center;
                    margin:0 auto;
                    margin-bottom: 0.5rem;
                    top:1rem;
                    width:100px;
                    padding-bottom:100px;
                    position: relative;
                    background-color: $grey10;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size:cover;
                    transition: all 0.1s ease-out;
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.3);
                }

                .avatar, .winnerTitle, .predictions, .poletimes {
                    margin:1rem 0;

                    @include mq($until:medium) {
                        width:50%;
                        text-align: center;
                    }

                    @include mq($until:small) {
                        width:100%;
                        text-align: center;
                    }

                }

                .colTitle {
                    text-transform: uppercase;
                    font-family: $BodyRegular;
                    font-size:1.1rem;
                    margin-bottom: 0.5rem;
                }

                .subtitle {
                    text-transform: uppercase;
                    font-family: $BodyRegular;
                    font-size:0.9rem;
                    margin-bottom: 0.2rem;
                }

                .playerName, .prediction {
                    text-transform: uppercase;
                    font-family: $HeadingBold;
                    font-size:1.5rem;
                    color: $orange;
                    margin-bottom: 0.1rem;
                }

                .racePoints, .actual {
                    text-transform: uppercase;
                    font-family: $BodyRegular;
                    font-size:1.3rem;
                    font-style: italic;
                }

            }

            .flagsSlider {
                position: absolute;
                bottom:-2rem;
                width:100%;
                z-index: 10;
            }

            .flagsSlider .swiper-slide {
                width:50px;
                margin-top:18px;
                transition: width 0.2s ease-out, margin-top 0.2s ease-out, opacity 0.2s ease-out;
                margin-bottom: 2rem;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }

                &.swiper-slide-active {
                  width:75px;
                  margin-top:0;

                  &:hover {
                        opacity: 1;
                    }
                }
            }

            .controls {
                position: absolute;
                width: 100%;
                top:50%;
                z-index: 20;

                @include mq($until:medium){
                    top:33%;
                }

                @include mq($until:small){
                    top:21%;
                }

                .prevArrow, .nextArrow {
                    color: white;
                    font-size:4rem;
                    position: absolute;
                    top:50%;
                    @include translate(0,-50%);
                    cursor: pointer;
                    padding:1rem;
                }

                .swiper-button-disabled {
                    .arrow {
                        opacity: 0.2;
                        border-color: black;

                    }
                }

                .prevArrow {
                    left:0;
                }

                .nextArrow {
                    right:0;
                }

                .arrow {
                    width:30px;
                    height:30px;
                    @include rotate(-45deg);
                    border:2px solid $orange;
                    cursor: pointer;

                    &.left {
                        border-bottom:0;
                        border-right:0;
                    }

                    &.right {
                        border-top:0;
                        border-left:0;
                    }
                }
            }



        }

        // season leaderboard
        .leaderboard{
            width: 100%;
            color: black;
            padding: 4rem 3rem;
            position: relative;
            text-align: center;

            .holder {
                max-width: 1300px;
                margin:0 auto;
            }
            @include mq($until:medium) {
                padding:2.5rem 1.5rem;
            }

            h1 {
                margin:0;
                color: $orange;
                margin-bottom: 2rem;

                .slim {
                    font-weight: 100 !important;
                    color: $grey2;
                }
            }

            .leaderBoardSelect {
                text-align: left;
                margin-top:1rem;
                position: relative;

                h3 {
                    float: left;
                    vertical-align: bottom;
                    margin-top:1.5rem;

                    @include mq($until:small) {
                        float: none;
                        margin-bottom:1rem;
                        text-align:center;
                    }
                }
            }

            .statsContainer {
                max-height: 500px;
                overflow: hidden;

                &:hover, &:focus {
                    overflow: auto;
                }
            }

        }



        // slider

        .nextSeason {
            background: black;
            width: 100%;
            position: relative;

            .swiper-container {
                width: 100%;
                height: 100%;
            }


            .pagination {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width:100px;
                position: absolute;
                z-index: 3;
                bottom:20px;
                left:50%;
                @include translate(-50%,0);

                .swiper-pagination-bullet {
                    width:10px;
                    height:10px;
                    background: white;
                }

            }


            .swiper-slide {
                background-size: cover;
                background-position: center;
                text-align: center;
                height:600px;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select:none;
                padding:0 1rem;

                @include mq($until:large) {
                    height:450px;
                }

                @include mq($until:medium) {
                    height:300px;
                }

                h1 {
                    color: $orange;
                    margin-bottom:0;

                    @include mq($from: large) {
                        font-size:5rem;
                    }
                }


            }
        }

    }

    // 2018 promo

    .pagePromoHolder_2018 {
        .unbold {
            font-family: $BodyRegular;
        }
        font-weight: normal;
        width: 100%;
        padding-bottom: 2rem;
        height: auto;
        background: $grey10;
        h1.prizesTitle {
            color: $black;
            text-align: center;
            margin-top: 2rem;
        }
        h3.prizesLine {
            color: $black;
            text-align: center;
            margin-bottom: 4rem;
        }
        .orange {
            font-family: $HeadingBold;
            color: $orange;
        }

        .raceByRace {
            width:100%;
            background-size: cover;
            background-position: center;
            flex:1;
            align-items:stetch;
            min-height: 548px;

            @include mq($until:large) {
                padding-bottom:70%;
                min-height: auto;
            }

            @include mq($from:large) {

            }

        }

        .boxHolder {
            display: flex;
            justify-content:space-between;

            align-items: flex-start;
            left: 50%;
            right: auto;
            @include mq($until:large) {
                flex-direction: column;
            }

            .box {
                flex:1;
                width: 50%;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 30px;
                @include mq($until:large) {
                    width: 100%;
                }
                .boxTitle {
                    color: $black;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 2rem;
                }
                .boxCopy {
                    color: $black;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 2rem;
                    @include mq($until:large) {

                    }
                    @include mq($from:large) {
                        min-height: 72px;
                    }
                }
                .prizeHolder {
                    position: relative;


                    @include mq($from:small) {
                        display: flex;
                        flex-direcrion: row;
                    }
                    .prizeBox {
                        background-color: $white;
                        width: 33%;

                        @include mq($until: small) {
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        margin: 0 1px;
                        @include mq($from:large) {
                            min-height: 548px;
                        }
                        .prizeSquare {
                            background-position: center;
                            background-size: cover;
                            height: 250px;
                            @include mq($until:large) {
                                max-height: 200px;
                            }

                        }
                        .medal {
                            width: 100%;
                            background-size: contain;
                            background-position: top center;
                            background-repeat: no-repeat;
                            left: 50%;
                            right: auto;
                            height: 70px;
                            //width: 40%;
                            margin-bottom: 20px;

                        }
                        .prizeName {
                            color: $black;
                            text-align: center;
                            font-size: 1.2rem;
                            line-height: 1.1;
                            text-transform: uppercase;
                            padding:20px;
                            font-weight: bold;
                            @include mq($until:large) {
                                font-size: 1rem;
                            }
                        }
                        .prizeCopy {
                            color: $black;
                            text-align: center;
                            padding:20px 10px;
                            @include mq($until:large) {
                                left: 50%;
                                right: auto;

                                //margin: 0 5px 20px 5px;
                            }
                        }
                    }

                }
            }
        }


    }
}

.um-dropdown {
    z-index: 20 !important;
}
