.PP_predictorPanel {
    background: black;
    color: white;
    width:100%;
    position: relative;
    margin-top:80px;

    .panelHolder {
        width: 100%;
        position: absolute;
        bottom:0;
        left: 0;
        transform: translateY(calc(100% - 59px));
        transition: all .35s cubic-bezier(0.645, 0.045, 0.355, 1);

        @include mq($until:medium) {
            transform: translateY(calc(100% - 57px));
        }
    }

    .panelToggleBar {
        background:rgba(0,0,0,0.85);
        color: $orange;
        text-align: center;
        padding:1rem;
        cursor: pointer;
        user-select:none;
        position: relative;
        border-top:1px solid $grey;

        .toggleCopy {
            margin:0;
            .toggleTitle {
                margin:0;
                position: relative;
                display: inline-block;

                @include mq($until:medium) {
                    @include scale(0.8);
                }

                &:after {
                    content:'';
                    position: absolute;
                    width: 20px;
                    height:20px;
                    border-left: 4px solid $orange;
                    border-bottom: 4px solid $orange;
                    top: 7px;
                    left:-45px;
                    transition:all 0.2s ease-out;
                    @include rotate(135deg);
                    @include mq($until:medium) {
                        left:-35px;
                    }
                }

                &:before {
                    content:'Show '
                }
            }
        }
    }

    .panelContentHolder {
        background: rgba(30,30,30,1);
        background: -moz-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(24,24,24,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,30,30,1)), color-stop(100%, rgba(24,24,24,1)));
        background: -webkit-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(24,24,24,1) 100%);
        background: -o-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(24,24,24,1) 100%);
        background: -ms-linear-gradient(top, rgba(30,30,30,1) 0%, rgba(24,24,24,1) 100%);
        background: linear-gradient(to bottom, rgba(30,30,30,1) 0%, rgba(24,24,24,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#181818', GradientType=0 );
        width: 100%;
        position: relative;

        .panelContent {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            padding:2rem 0;
            @include mq($until:medium) {
                padding:0;
            }
            .panel {
                width:50%;
                padding:0 2rem;
                @include mq($until:medium) {
                    width:100%;
                    padding: 1.5rem;
                }

                &:first-child {
                    border-right:1px solid #444;
                    @include mq($until:medium) {
                        border:0;
                        border-bottom:1px solid #444;
                    }
                }
            }
        }

        .orange {
            color: $orange;
        }

        .titlePanel {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items:center;
            position: relative;

            .linkedInLogo {
                max-width:80px;
                display: inline-block;
                vertical-align: bottom;
                margin-left:0.5rem;
                margin-bottom:0.2rem;
            }

            .socialExt {
                padding-left:20px;
                text-align: right;
                h5 {
                    line-height: 1.5;
                }
            }
        }

        .rightPanel {
            //display: flex;
            //flex-direction:column;
            //height:100%;
            position: relative;
            overflow-x:hidden;

            &.not-logged-in {
                // width:100% !important;
                &:first-child {
                    // border:0 !important;
                }
            }
        }

        .streamShadow {
            width:100%;
            height:200px;
            position: absolute;
            pointer-events:none;
            right:0;
            bottom:-200px;
            z-index:20;
            background: rgba(30,30,30,0.69);
            background: -moz-linear-gradient(top, rgba(30,30,30,0.69) 0%, rgba(24,24,24,0) 72%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(30,30,30,0.69)), color-stop(72%, rgba(24,24,24,0)));
            background: -webkit-linear-gradient(top, rgba(30,30,30,0.69) 0%, rgba(24,24,24,0) 72%);
            background: -o-linear-gradient(top, rgba(30,30,30,0.69) 0%, rgba(24,24,24,0) 72%);
            background: -ms-linear-gradient(top, rgba(30,30,30,0.69) 0%, rgba(24,24,24,0) 72%);
            background: linear-gradient(to bottom, rgba(30,30,30,0.69) 0%, rgba(24,24,24,0) 72%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#181818', GradientType=0 );
        }

        .streamHolder {
            max-height:500px;
            height:100%;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            padding:0;
            position: relative;
            overflow-x:hidden;
            width:100%;


            @include mq($until:wide) {
                max-height: 650px;
            }

            @include mq($until:medium) {
                max-height: 450px;
            }

            #ff-stream-3 {
                background: transparent;
                padding:0.5rem 0 2rem 0 !important;
            }

            .ff-stream {
                padding:1rem 0 !important;
            }
        }
    }

    // active styles
    &.panel_active {
        .panelContentHolder {
            //transform: translateY(0%);
        }
        .panelHolder {
            transform: translateY(0%);
        }
        .toggleTitle:before {
            content:'Hide ' !important;
        }
        .toggleTitle:after {
            transform: rotate(-45deg) !important;
            top:-3px !important;
        }
    }


    // predictions
    .PP_panelMain {
        background: none;
        color: white !important;
        pointer-events:none !important;

        .predictorContainer {
            background: none !important;
        }

        .mainPredictorInterface {
            opacity: 1;
        }

        .predictorOptions {
            width: 100% !important;
            border:0 !important;
            padding:0 !important;
            pointer-events:none !important;
        }

        .predictorOptionsHolder {
            margin-bottom:2rem !important;
            max-width: 900px !important;
            @include mq($until:medium) {
                max-width: 100% !important;
            }
            &.top {
                width: 100%;
                @include mq($from:medium) {
                    max-width: 450px !important;
                }
            }
        }

        .predictorOptionsHolder.bottom {
            left: 0 !important;
            @include mq($until:large) {
                flex-wrap: wrap !important;
            }
            @include mq($until:small) {
                flex-wrap: wrap !important;
            }
        }

        .pred_MM:after, .pred_SS:after, .pred_CC:after {
            color: white !important;
        }

        .bonusIcon {
            &.time {
                background-image:url('assets/img/icon_time_white.svg') !important;
            }

            &.safety {
                background-image:url('assets/img/icon_safety_white.svg') !important;
            }

            &.dnf {
                background-image:url('assets/img/icon_DNF_white.svg') !important;
            }
        }

        h3.bonusPoints {
            margin-top:1.5rem !important;
            margin-bottom:2rem !important;
            font-size: 1.5rem;

            // @include mq($until:large) {
            //     text-align: center;
            // }
        }
    }

    .ctaHolder {
        width: 100%;
        text-align: center;

        a {

        }
    }
}


.PPW_panelMain {
    background: black !important;

    .liveSocialPanelFeed, .liveSocialStream, #ff-stream-3, #ff-stream-3 .ff-popup, #ff-stream-3 .ff-search input {
        width: 100%;
        position: relative;
        background: transparent !important;
        margin:0 !important;
        padding:0 !important;
        .ff-stream {
            background: transparent !important;
            margin:0;
            margin-top:-3rem !important;
            padding:0 !important;
            padding-bottom:4rem;
            width: 100%;
            position: relative;
        }
        .ff-stream-wrapper {
            margin: 0 !important;
        }
    }

    .livesSocialStream {
        // height: 100% !important;
    }
}




@keyframes slide {
  from{
      background-position:0% 0%;
  }
  to{
      background-position:-100% 0%;
  }
}

@keyframes glow {
  0% {
      text-shadow: 0 0 0px rgba(255,255,255,0.8)
  }
  50% {
      text-shadow: 0px 0px 20px rgba(255,255,255,1)
  }
  0% {
      text-shadow: 0 0 0px rgba(255,255,255,0.8)
  }
}


#liveSocialIframe {
    width:100%;
    @include mq($until:medium) {
        // width: calc(100vw - 4rem);
    }
}

// post notification bar

.logged-in > .notificationBar {
    /* position: relative;
    margin-top: 50px;
    top:0; */
}

.notificationBar {
    width:100%;
    margin-top: 50px;
    position: relative;
    z-index: 40;
    overflow: hidden;
    height:0;

    &.active {
        height:100%;
    }

    .bar {
        background-color: $orange;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-image: url('assets/img/notif-stripe.svg');
        // background-repeat: repeat-x;
        // animation: slide 10s linear infinite;

        .barContent {
            width: 100%;
            text-align: center;
            user-select:none;
            h4 {
                cursor: pointer;
                margin: 0;
                font-family: $BodyLight !important;
                color: black;
                background: $orange;
                display: inline-block;
                padding:8px 30px;
                transition: color 0.1s ease-out;
                @include mq($until:medium) {
                    background-color: transparent;
                }

                &:hover {
                    color: white;
                }
            }

            .white {
                color: white;
                margin-right:10px;
            }

            .glow {
                animation: glow 1s linear infinite;
            }
        }
        .barClose {
            padding:6px 15px;
            font-size:1.3rem;
            cursor: pointer;
            transition: color 0.1s ease-out;
            color: black;
            &:hover {
                color: white;
            }
        }
    }
}
