.raceNotes {

    .articlesContainer {
        width:100%;
        position: relative;
        overflow: hidden;

        .postArticleGroup {
            width:100%;
            position: relative;
            //display: inline-block;
            overflow: hidden;
        }
    }

    .pageBody {
        padding:0 !important;
    }

    .postArticle {
        position: relative;
        margin-bottom: 2rem;
        width: auto;
        overflow: hidden;
        float: left;
        width: 100%;

        &:hover {
            transition: all 0.2s ease-out;

            .postArticleImage {
                background: $orange !important;

                .imageWrapper {
                    opacity: 0.5 !important;
                    @include scale(1.05);
                }
            }

        }

        .postArticleImage {
            width: 100%;
            padding-bottom:65%;
            background: $black;
            z-index: 1;
            position: relative;
            overflow: hidden;
            //min-height: 400px;
            transition: all 0.2s ease-out;

            .imageContainer {
                transform-origin: center;
            }

            .imageWrapper {
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height: 100%;
                transition: all 0.2s ease-out;
            }

        }

        .postArticleTitle {
            position: absolute;
            bottom: -1rem;
            z-index: 2;
            background: white;
            padding:1rem 1rem 2rem 0rem;
            color: $black;
            width:80%;
            overflow: hidden;
            transition: all 0.2s ease-out;

            h2 {
                margin-bottom: 0;
                line-height: 1;
            }

            .postDate {
                font-size: 1rem;
                color: $orange;
                margin-bottom: 0;
                font-weight: bold;
                transition: all 0.2s ease-out;
            }

            @include mq($until:medium) {
                position: relative;
                padding-top:0;
                padding-left:0;
                padding-right:0;
                bottom: auto;
                padding-top:1rem;
                padding-bottom: 1rem;

            }

        }

        @include mq($until:medium) {
            width:100% !important;
            padding:0 !important;
            margin-left:0 !important;

            .postArticleTitle {
                width:100%;
            }

            .postArticleTitle h2 {
                font-size:1.4rem !important;
            }
        }


        // flow of articles layout


        &:nth-child(10n+1) {
            width:calc(68% - 2rem);
            margin-right: 2rem;

            .postArticleImage {
                padding-bottom:65%;
                @include mq($until:wide) {
                   padding-bottom: 67%;
                }

                @include mq($until:large) {
                   padding-bottom: 69%;
                }

                @include mq($until:medium) {
                   padding-bottom: 71%;
                }
            }

            .postArticleTitle h2 {
                font-size:2.5rem;

                @include mq($until:wide) {
                   font-size:2rem;
                }

                @include mq($until:large) {
                   font-size:1.5rem;
                }
            }
        }

        &:nth-child(10n+2),&:nth-child(10n+3){
            width:32%;

            .postArticleImage {
                padding-bottom:64.6%;
                @include mq($until:medium) {
                   //padding-bottom: 50%;
                }
            }

            .postArticleTitle h2 {
                font-size:1.4rem;

                @include mq($until:wide) {
                   font-size:1.2rem;
                }

                @include mq($until:large) {
                   font-size:1rem;
                }
            }
        }

        &:nth-child(10n+4),&:nth-child(10n+5),&:nth-child(10n+6) {
            width:calc(33.3333% - 1.37rem);

            .postArticleTitle h2 {
                font-size:1.4rem;

                @include mq($until:wide) {
                   font-size:1.2rem;
                }

                @include mq($until:large) {
                   font-size:1rem;
                }
            }

        }

        &:nth-child(10n+5) {
            margin:0 2rem;
        }


        &:nth-child(10n+7),&:nth-child(10n+8),&:nth-child(10n+9),&:nth-child(10n+10) {
            width:calc(25% - 1.5rem);

            .postArticleTitle h2 {
                font-size:1.4rem;

                @include mq($until:wide) {
                   font-size:1.2rem;
                }

                @include mq($until:large) {
                   font-size:1rem;
                }
            }


            .postArticleImage {
                //min-height:300px;
                @include mq($until:medium) {
                   //padding-bottom: 50%;
                   //min-height:300px;
                   //padding-bottom:0;
                }

                @include mq($from:medium) {
                    //margin-bottom:0;
                    //display: block;
                    //padding-bottom:80%;
                }
            }

            .postArticleTitle {

                @include mq($from:medium) {
                    //width:calc(100% - 1rem);
                    min-width:100%;
                    position: relative;
                    padding-left:0;
                    padding-right:0;
                    padding-top:1rem;
                    margin-top:0;
                    padding-bottom:0rem;
                    display: block;
                    bottom: auto;
                    //height:100px;
                }
            }

        }

        &:nth-child(10n+8) {
            margin:0 1rem 0 2rem;
        }

        &:nth-child(10n+9) {
            margin:0 2rem 0 1rem;
        }

        /*


        &:nth-child(6n+4),&:nth-child(6n+5),&:nth-child(6n+6) {
            width:calc(33.3333% - 1.37rem);

            .postArticleImage {
                //min-height:300px;
                @include mq($until:medium) {
                   padding-bottom: 50%;
                   //min-height:300px;
                   //padding-bottom:0;
                }

                @include mq($from:medium) {
                    margin-bottom:0;
                    display: block;
                    padding-bottom:80%;
                }
            }

            .postArticleTitle {

                @include mq($from:medium) {
                    //width:calc(100% - 1rem);
                    min-width:100%;
                    position: relative;
                    padding-left:0;
                    padding-right:0;
                    padding-top:1rem;
                    margin-top:0;
                    padding-bottom:1rem;
                    display: block;
                    bottom: auto;
                }
            }

            .postArticleTitle h2 {
                font-size:1.4rem;
            }
        }


        &:nth-child(6n+2) {
            padding-right:1rem;
        }

        &:nth-child(6n+3) {
            padding-left:1rem;
        }

        &:nth-child(6n+4) {
            //padding-right:1rem;
        }

        &:nth-child(6n+5) {

            margin-right:2rem;
            margin-left:2rem;
            .postArticleTitle {
                @include mq($from:medium) {
                    //width:calc(100% - 2rem);
                }
            }
        }

        &:nth-child(6n+6) {
            //padding-left:1rem;
        } */


    }


    // articles
    &.raceNotesArticle {

        .pageHero {
            height:150px !important;
            @include mq($until:medium) {
                height:100px !important;
            }
        }

        .articleBody {
            width: 75%;
            padding:2rem 2rem 0 0;
            margin-top:-20%;
            position: relative;
            z-index: 2;
            background: white;

            @include mq($until:medium) {
                width:100%;
                padding:2rem 0;
                margin-top:0;
            }

            p {
                line-height: 1.5;
                font-size:1.15rem;
                @include mq($until:medium) {
                    font-size:1.05rem;
                }
            }

            img {
                width:116.666%;
                height:auto;
                margin:2rem 0;
                @include mq($until:medium) {
                    width:100%;
                }
            }
        }

        .articleTitle {
            position: relative;
            z-index: 2;
            margin-bottom: 0;
        }

        .articleDate {
            margin:0;
            color: $orange;
            margin-top:0.5rem;
            font-family: $BodyRegular !important;
        }



        blockquote {
            width:50%;
            right:-29%;
            margin:0;
            position: relative;
            float:right;
            margin-top:1.5rem;
            color: $orange;
            font-family: $HeadingBold;
            text-transform: uppercase;
            //@include translate(50%,0);
            padding-left:20%;
            display:inline-block;


            @include mq($until:medium) {
                width:100%;
                right: auto;
                float:none;
                padding: 0 1rem;
                margin-top:2rem;
            }

            p {
                font-size:1.6rem !important;
                line-height: 1.2 !important;
                margin-bottom:1rem;

                @include mq($from:medium) {
                    width:260%;
                    position: relative;
                    left:-150%;
                }

            }

            .js-socialSharing {
                text-align: right;
                margin-top:0;
                @include mq($from:medium) {
                    width:260%;
                    left:-150%;
                    position: relative;
                }
            }
        }
    }


    //- back to race notes link
    .backLink {
        position: relative;
        margin:0 0 2rem 0;

        &.bottomLink {
            margin-top:1rem;
        }

        .backIcon {
            width:22px;
            height:22px;
            position: relative;
            font-size:3.5rem;
            display: inline-block;
            vertical-align: middle;
            border-left:2px solid $orange;
            border-top:2px solid $orange;
            @include rotate(-45deg);
            transition: all 0.2s ease-out;
        }

        a {
            color: $orange;
            transition: all 0.2s ease-out;

            &:hover {
                color: $black;
                .backIcon {
                    border-color: $black;
                }
            }
        }

        .backText {
            font-size:1.2rem;
            display: inline-block;
            position: relative;
            top:2px;

            .bold {
                font-family: $HeadingBold !important;
                margin:0;
            }
        }

    }

    //- related posts

    .relatedBlogs {

        h3 {
            margin-top:1.7rem;
        }

        .postArticle, .postArticle:nth-child(n) {
            width:100% !important;
            margin:0;
            padding:0;
            margin-bottom:2rem;

            @include mq($until:large) {
                width:50% !important;
                &:nth-child(odd) {
                    padding-left:1rem;
                }
                &:nth-child(even) {
                    padding-right:1rem;
                }
            }

            @include mq($until:medium) {
                width:100% !important;
                padding: 0 !important;
            }

            .postArticleTitle {
                position: absolute;
                bottom: -1rem;
                z-index: 2;
                background: rgba(255,255,255,11);
                padding:1rem 1rem 2rem 0rem;
                color: $black;
                width:80%;
                overflow: hidden;
                transition: all 0.2s ease-out;
                min-width: auto;


                h2 {
                    margin-bottom: 1rem;
                    line-height: 1;
                }

                .postDate {
                    font-size: 1rem;
                    color: $orange;
                    margin-bottom: 0;
                    font-weight: bold;
                    transition: all 0.2s ease-out;
                }

                @include mq($until:medium) {
                    position: relative;
                    padding-top:0;
                    padding-left:0;
                    padding-right:0;
                    bottom: auto;
                    padding-top:1rem;
                    padding-bottom: 1rem;
                    width:100%;
                }

            }
        }
    }




}
