.sitePage {

    .pageHero {
        width:100%;
        height: 300px;
        background-color: #333;
        position: relative;
        overflow: hidden;
        margin-top:50px;
        display: flex;
        align-items: center;
        justify-content: center;


        @include mq($until:medium) {
            height: 220px;
        }

        .pageHeroBg {
            position: absolute;
            width: 100%;
            height:100%;
            top:0;
            left:0;
            background-size: cover;
            background-position: center;
            z-index: 1;
            opacity: 0;

        }

        .pageHeroBgOverlay {
            position: absolute;
            width: 104%;
            height:104%;
            top:-2%;
            left:-2%;
            z-index: 1;
            box-shadow: inset 0px 0px 34px 1px rgba(0,0,0,0.75);
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.77+35,0.27+100 */
            background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.78) 0%, rgba(0,0,0,0.78) 35%, rgba(0,0,0,0.27) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.78) 35%,rgba(0,0,0,0.27) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  rgba(0,0,0,0.78) 0%,rgba(0,0,0,0.78) 35%,rgba(0,0,0,0.27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4000000', endColorstr='#45000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        }

        .pageHeroContent {
            //position: absolute;
            width: 100%;
            height:auto;
            z-index: 3;
            opacity: 0;
            /* left:0;
            top:50%;
            @include translate(0,-50%); */

            h1 {
                color: $orange;
                text-shadow:5px 5px 15px rgba(0,0,0,0.5);
                word-spacing: -0.8rem;
                line-height: 0.9;
                margin:0;
                margin-left:-2px;
                @include mq($until:large) {
                    word-spacing: -0.65rem;
                }
                @include mq($until:medium) {
                    word-spacing: -0.5rem;
                }
            }

        }
    }


    .pageContent {
        padding:2rem 0;
        background: $white;
        color: $black;

        .intro h2 {
            margin-bottom: 1rem;
        }

        .intro {
            margin-bottom: 1rem;
        }

        .pageBody {
            //padding-right:1rem;
            line-height: 1.4;
        }

        .pageSideBar {
            padding-left:1rem;
        }

    }


    .sideBarContent {
        padding-left:2rem;
        padding-top:1.5rem;
        @include mq($until:large) {
            padding:0;
        }
    }

    .pitwallContainer {
        width:100%;
        min-height:70vh;
        border:0;
        outline:0;
        margin:0;
        padding:0;
        position: relative;
        //padding-top:50px;
        background-color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('./assets/img/pitwall_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        iframe {
            width:100%;
            border:0;
            outline:0;
            margin:0;
            padding:0;
            position: relative;
            height:0;
        }

    }


    // social walls

    .ff-stream {
         padding:2rem 1rem !important;
    }

    .ff-stream-wrapper {
        margin:0 !important;
    }

    .ff-loadmore-wrapper {
        display: inline-block;
        padding:0rem 0.5rem !important;
        margin-top:2rem;

        border-radius: 0px !important;
        border:0;
        position: relative;
        left:50%;
        @include translate(-50%,0);
    }

    .ff-item .ff-content, .ff-article, .ff-item .ff-content p {
        font-size:1.1rem !important;
    }

    .ff-content {
        width:80%;

    }

    .ff-theme-classic .picture-item__inner {
        padding:0;
    }

    .ff-img-holder {

    }

    .ff-item {

    }

    .ff-share-popup {
        min-width:110px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .ff-item-cont {
        //padding:1rem;
        //background: #f2f2f2;
    }

    .ff-btn {
        background:transparent !important;
        color: $orange !important;
        padding:0.75rem 1.25rem !important;
        border-radius: 0 !important;
        cursor: pointer;
        text-transform: uppercase;
        font-family: $HeadingBold;
        line-height: 0.8 !important;
        font-size:1.1rem !important;
        display: default !important;
        height: auto !important;
        margin:0 !important;
        transition: all 0.2s ease-out !important;

        &:hover {
            //background: $orange !important;
            color: $white !important;
        }
    }

    // load more button

    .elm-button {
        background: transparent !important;
    }

}

