section.unfairAdvantage {
    position: relative;
    background: white;

    .ua_header {
        margin-top:50px;
        width:100%;
        height:40vh;
        min-height: 500px;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        @include mq($until:medium) {
            //height:70vh;
            min-height: 300px;
        }

        .videoBg {
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-color: $black;
            background-image:url('assets/img/videoPoster.jpg');
            background-size:cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;
            opacity: 0;

            video {
                pointer-events:none;
            }
        }

        .videoBgOverlay {
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background-color: $black;
            opacity: 0.15;
            z-index: 2;
        }
    }

    .ua_module {
        position: relative;
        width:100%;
        z-index: 2;
        text-align: center;
        text-transform: uppercase;
        background: white;
    }

    // 2018 products module
    .ua_products {
        background: linear-gradient(to right, #191a1e 0%,#1f2025 45%,#1f2025 55%,#191a1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191a1e', endColorstr='#191a1e',GradientType=1 ); /* IE6-9 */
        overflow: hidden;
        height: 1050px;
        padding:4rem 0 0 0;
        @include mq($until: large) {
            height: 900px;
        }
        @include mq($until: medium) {
            height: 700px;
        }
        @include mq($until: small) {
            height: 500px;
        }
        .container-fluid {
            opacity: 1;
        }

        @include mq($until: medium) {
            padding:2rem 0 0 0;
        }

        .ua_products_title {
            position: relative;
            top: 50px;
            //z-index: 40;

            h1 {
                color: $orange;
                line-height: 0.8;
                font-size:5.5rem;
                margin-bottom: 0;
                @include mq($until: large) {
                    font-size:4rem;
                    .secondWord {
                        margin-left:-0.5rem;
                    }
                }
                @include mq($until: medium) {
                    font-size:1.6rem;
                    .secondWord {
                        margin-left:-0.2rem;
                    }
                }
            }

            h3 {
                font-family: $BodyLight !important;
                margin-bottom: 0.5rem;
                color: $white;
            }

            .secondWord {
                color: $white;
                font-family: $BodyLight !important;
                margin-left:-0.9rem;
            }
        }



        .productsContent {
            position: absolute;
            top:60%;
            left:50%;
            //background:white;
            @include translate(-50%,-50%);
            z-index: 3;
            padding:10px;
            width:42%;

            @include mq($until: small) {
                padding:5px;
            }

            .line1 h4 {
                font-family: $BodyLight !important;
                margin:0;
                margin-bottom:0.5rem;
                font-size: 1rem;
                color: $white;

                @include mq($until: large) {
                    font-size:0.6rem;
                    margin-bottom:0.25rem;
                }

                @include mq($until: small) {
                    font-size:0.6rem;
                    margin-bottom:0.25rem;
                }

            }

            .line2 {
                font-family: $HeadingBold;
                color: $orange;
                font-size:10rem;
                margin:0;
                line-height: 0.8;

                @include mq($until: large) {
                    font-size:6rem;
                    }
                @include mq($until: medium) {
                    font-size:4rem;
                }
                @include mq($until: small) {
                    font-size:3rem;
                }

            }

            .line3 h4 {
                color: $white;
                margin:0;
                font-size: 1.4rem;

                @include mq($until: large) {
                    font-size:0.9rem;
                }
                @include mq($until: small) {
                    font-size:0.6rem;
                }
            }
        }



        .productsImg {
            position: absolute;
            top: 0;
            left: 50%;
            @include translate(-50%,0);
            height: 100%;
            width: 100%;
            max-width: 1300px;
            z-index: 4;
            opacity: 1;

            .sensor {
                opacity: 0;
            }

            .topLeft {
                top: 0;
                left: 0;
                position: absolute;
                width:40%;
                height:50%;
                background-position: center;
                background-size: 65% auto;
                background-repeat: no-repeat;
                margin-top:140px;
                margin-left: 30px;
                @include mq($until: small) {
                    background-size: 90% auto;
                    margin-top:120px;
                    margin-left: 10px;
                }
                @include mq($until: medium) {
                    background-size: 80% auto;
                }
            }
            .topRight {
                top: 0;
                right: 0;
                position: absolute;
                width:40%;
                height:50%;
                background-size: 75% auto;
                background-repeat: no-repeat;
                background-position: center;
                margin-top:125px;
                margin-right: 30px;
                @include mq($until: small) {
                    background-size: 90% auto;
                    margin-top: 120px;
                }
                @include mq($until: medium) {
                    background-size: 80% auto;
                }
            }
            .bottomLeft {
                bottom: 0;
                left: 0;
                position: absolute;
                width:40%;
                height:50%;
                background-size: 80% auto;
                background-repeat: no-repeat;
                background-position: center;
                margin-left: 50px;
                @include mq($until: small) {
                    background-size: 90% auto;
                    margin-left: 30px;
                }
                @include mq($until: medium) {
                    background-size: 80% auto;
                }
            }
            .bottomRight {
                bottom: 0;
                right: 0;
                position: absolute;
                width:40%;
                height:50%;
                background-size: 65% auto;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 30px;
                @include mq($until: small) {
                    background-size: 90% auto;
                }
                @include mq($until: medium) {
                    background-size: 80% auto;
                }
            }
        }
    }
    // chips module
    .ua_chips {
        background: linear-gradient(to right, #191a1e 0%,#1f2025 45%,#1f2025 55%,#191a1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191a1e', endColorstr='#191a1e',GradientType=1 ); /* IE6-9 */
        // color: $black;
        // overflow: hidden;
        height: auto;
        padding:4rem 0 0 0;

        .container-fluid {
            opacity: 0;
        }

        @include mq($until: medium) {
            padding:2rem 0 0 0;
        }

        .ua_chips_title {
            position: relative;
            z-index: 4;

            h1 {
                color: $orange;
                line-height: 0.8;
                font-size:5.5rem;
                margin-bottom: 0;
                @include mq($until: large) {
                    font-size:4rem;
                    .secondWord {
                        margin-left:-0.5rem;
                    }
                }
                @include mq($until: medium) {
                    font-size:1.6rem;
                    .secondWord {
                        margin-left:-0.2rem;
                    }
                }
            }

            h4 {
                font-family: $BodyLight !important;
                margin-bottom: 0.5rem;
                color: $white;
            }

            .secondWord {
                color: $white;
                font-family: $BodyLight !important;
                margin-left:-0.9rem;
            }
        }

        .chipsHolder {
            position: relative;
            margin:4rem 0 2rem 0 auto;
            z-index: -1;
            //overflow: hidden;
            opacity:0;

            @include mq($until: medium) {
                margin:3rem 0 2rem 0 auto;
            }
            @include mq($until: medium) {
                margin:1.5rem 0;
            }

            .chipsWrapper {
                //max-width:900px;
                margin:0 auto;
                position: relative;
            }

            .chipsContent {
                position: absolute;
                top:50%;
                left:50%;
                //background:white;
                @include translate(-50%,-50%);
                z-index: 3;
                padding:10px;
                width:42%;

                @include mq($until: small) {
                    padding:5px;
                }

                .line1 h4 {
                    font-family: $BodyLight !important;
                    margin:0;
                    margin-bottom:0.5rem;
                    font-size: 0.8rem;
                    color: $white;

                    @include mq($until: large) {
                        font-size:0.6rem;
                        margin-bottom:0.25rem;
                    }

                    @include mq($until: small) {
                        font-size:0.6rem;
                        margin-bottom:0.25rem;
                    }

                }

                .line2 {
                    font-family: $HeadingBold;
                    color: $orange;
                    font-size:8rem;
                    margin:0;
                    line-height: 0.8;

                    @include mq($until: large) {
                        font-size:6rem;
                        }
                    @include mq($until: medium) {
                        font-size:4rem;
                    }
                    @include mq($until: small) {
                        font-size:3rem;
                    }

                }

                .line3 h4 {
                    color: $white;
                    margin:0;
                    font-size: 1.1rem;

                    @include mq($until: large) {
                        font-size:0.9rem;
                    }
                    @include mq($until: small) {
                        font-size:0.6rem;
                    }
                }
            }

            .productsImg img {
                position: relative;
                width: auto;
                z-index: 4;
            }

            .chipsImg {
                position: relative;
                z-index: 1;
            }

            .chipsBgMask {
                position: absolute;
                z-index: 2;
                width:200%;
                height:200%;
                top:50%;
                left:50%;
                @include translate(-50%,-50%);
                background: url('assets/img/ua_chips_mask.png') no-repeat;
                background-size: 55%;
                background-position: center;
                &.active {
                    background-size: 550%;
                }
            }
        }

        .capture {
            margin-bottom:3rem;
            opacity: 0;
            @include mq($until: medium) {
                margin-bottom:2rem;
            }

            h3 {
                font-size: 1.8rem;
                @include mq($until: large) {
                    font-size:1.8rem;
                }
                @include mq($until: medium) {
                    font-size:1.4rem;
                }
                @include mq($until: small) {
                    font-size:1.2rem;
                }
            }
        }
    }


    // storage module
    .ua_storage {

        .bigHolder {
            width:100%;
            position: relative;
            height:450px;
            color: white;
            text-align: right;

            @include mq($until: large) {
                height:380px;
            }

            @include mq($until: small) {
                height:250px;
            }

            .barContent {
                position: absolute;
                bottom:0.5rem;
                width:100%;

                h1 {
                    margin-bottom: 0;
                    line-height: 0.7;
                }

                h2 {
                    margin-bottom: 0;
                    line-height: 0.5;
                }

                .legend {
                    font-size:0.8rem;
                }
            }
        }

        .smallBar {
            width: 0;
            height:80px;
            background: $orange;
            position: absolute;
            top:0;
            left:0;
            z-index: 2;
            overflow: hidden;

            .barContent {
                right:1rem;
                .capture {
                    width: 100%;
                    position: absolute;
                    right: 135px;
                    @include mq($until: wide) {
                        font-size: 14px;
                    }
                    @include mq($until: large) {
                        position: relative;
                        font-size: 10px;
                        width: 40%;
                        right: 0;
                        bottom: 5px;
                    }
                }
            }

            &.active {
                width:34%;
                @include mq($until: medium) {
                    width:40%
                }
            }
        }

        .bigBar {
            width:0;
            height:100%;
            background: $black;
            position: absolute;
            top:0;
            left:0;
            z-index: 1;
            overflow: hidden;

            &.active {
                width:100%;
            }

            .barContent {
                right:2rem;
                @include mq($until: medium) {
                    right:1rem;
                }
            }
        }

    }


    // reduction module
    .ua_reduction {
        background: white;
        color: $black;
        overflow: hidden;
        padding:4rem 0;
        width: 100%;

        .container-fluid {
            opacity: 0;
        }

        @include mq($until: medium) {
            padding:2rem 0;
        }

        h1, h4 {
            margin-bottom: 0;
        }

        h1 {
            color:$orange;
            line-height: 0.9;
            margin:0.5rem 0;
        }

        .graphHolder {
            max-width:900px;
            margin:0 auto;
            position: relative;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;

            .graphLine {
                position: absolute;
                top:0;
                left: 0;
                width: 0%;
                height:100%;
                overflow: hidden;

                &.active {
                    width: 100%;
                }

                img {
                    height: 100%;
                    width: auto;
                }
            }

            .mNum {
                position: absolute;
                opacity: 0;

                &.mNum25 {
                    top:9%;
                    left:29.5%;
                    @include mq($until:medium) {
                        top:7%;
                        left:29%;
                        font-size: 80%;
                    }
                    @include mq($until:small) {
                        top:2%;
                        letter-spacing: 27.5%;
                        font-size: 80%;
                    }
                }

                &.mNum50 {
                    top:36%;
                    left:56.5%;
                    @include mq($until:medium) {
                        top:35%;
                        left:56%;
                        font-size: 80%;
                    }
                    @include mq($until:small) {
                        top:30%;
                        left:55.5%;
                        font-size: 80%;
                    }
                }

                &.mNum68 {
                    bottom:30%;
                    right:0%;
                    font-family: $HeadingBold;
                    color: $orange;
                    font-size:240%;
                    @include mq($until:medium) {
                        bottom:30%;
                        right:0%;
                        font-size: 180%;
                    }
                    @include mq($until:small) {
                        bottom:30%;
                        right:0%;
                        font-size: 130%;
                    }
                }
            }
        }
    }


    // hours module
    .ua_hours {
        color: $black;
        width: 100%;
        background: $orange;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        overflow: hidden;

        @include mq($until: medium) {
            padding:2rem 0;

        }

        @include mq($until: large) {
            background-size: contain;
        }

        .stopwatch {
            opacity: 0;
            transform-origin: center;
        }

        .watchTopLeft {
            background-size: contain;
            background-repeat:no-repeat;
            background-position: top left;
            width: 40%;
            padding-bottom: 24%;
            top: 15%;
            left:5%;
            position: absolute;

            @include mq($until:large) {
                width:25%;
                left: 0%;
                top:5%;
                padding-bottom: 30%;
            }

            @include mq($until:medium) {
                top:0;
                left:-5%;
            }

            @include mq($until:small) {
                width: 40%;
                left:-5%;
                top:-5%;
            }
        }

        .watchTopRight {
            background-size: contain;
            background-repeat:no-repeat;
            background-position: top right;
            width: 30%;
            height:50%;
            top: -10%;
            right:5%;
            position: absolute;
            transform: rotate(55deg);

            @include mq($until:large) {
                width:40%;
                right: -5%;
            }

            @include mq($until:medium) {

            }

            @include mq($until:small) {
                right: 0;
            }
        }

        .watchBottomLeft {

            transform: rotate(25deg);
            background-size: contain;
            background-repeat:no-repeat;
            background-position: bottom right;
            width: 50%;
            padding-bottom: 25%;
            bottom:-30%;
            left:-5%;
            position: absolute;

            @include mq($until:large) {
                bottom:-20%;
                left:-5%;
            }

            @include mq($until:medium) {
                bottom:-14%;
                padding-bottom: 35%;
                left:-20%;
            }

            @include mq($until:small) {
                left:-30%;
            }
        }

        .watchBottomRight {
            background-size: contain;
            background-repeat:no-repeat;
            background-position: bottom right;
            width: 30%;
            padding-bottom: 20%;
            bottom:5%;
            right:2%;
            position: absolute;

            @include mq($until:large) {
                width:25%;
                right:-5%;
                bottom:0;
                padding-bottom: 30%;
            }

            @include mq($until:medium) {
                bottom:0;
                right:0%;
            }

            @include mq($until:small) {
                width: 40%;
                right:-5%;
                bottom:-14%;
            }
        }

        .container-fluid {
            position: relative;
            z-index: 20;
        }

        .hoursCopyTop {
            position: relative;
            padding:125px 0 50px;
            @include mq($until:small) {
                padding:10px;
                br {
                    display: none;
                }
            }
            @include mq($until:medium) {
                padding:50px;
            }
        }

        .hoursCopyBottom {
            position: relative;
            padding:50px 0 125px;
            @include mq($until:medium) {
                padding:50px;
            }
            @include mq($until:small) {
                padding:10px;
                br {
                    display: none;
                }
            }
        }
        h1, h4 {
            margin-bottom: 0;
        }

        h1 {
            color:$white;
            line-height: 0.9;
            margin:0.5rem 0;
            @include mq($until:medium) {
                font-size: 26px;
            }
        }

        .stopwatchHolder {
            position: absolute;
            width: 100%;
            max-width: 1300px;
            height: 100%;
            z-index: 10;
            top:0;
            left:50%;
            @include translate(-50%,0);
        }

    }

        // .watchHolder {
        //     width:50%;
        //     max-width:400px;
        //     margin:0 auto;
        //     position: relative;
        //     margin-top: 1.5rem;
        //     margin-bottom: 1.5rem;

        //     .pieHolder {
        //         width:70%;
        //         height:70%;
        //         position: absolute;
        //         top:58%;
        //         left:50%;
        //         @include translate(-50%,-50%);
        //         z-index: -1;
        //         border-radius: 50%;
        //         overflow: hidden;
        //         background: $orange;

        //         &.secondRun {
        //             background: white;

        //             .fill {
        //                 background-color: $grey9;
        //             }
        //         }
        //     }

        //     .pie {
        //         position: absolute;
        //         width: 50%;
        //         height:100%;
        //         overflow: hidden;

        //         .fill {
        //             position: absolute;
        //             width: 100%;
        //             height:100%;
        //             background-color: $grey9;
        //             overflow: hidden;
        //         }

        //         &.left {
        //             left:0;
        //             .fill {
        //                 right:-1px;
        //                 @include rotate(180deg);
        //                 transform-origin:100% 50%;
        //             }
        //         }

        //         &.right {
        //             right:0;
        //             .fill {
        //                 left:-1px;
        //                 @include rotate(180deg);
        //                 transform-origin:0% 50%;
        //             }
        //         }
        //     }

        //     .pureLogo {
        //         position: absolute;
        //         width:100%;
        //         height:100%;
        //         z-index: 3;
        //         top:0;
        //         left:0;
        //         opacity: 0;

        //         img {
        //             width:40%;
        //             height:auto;
        //             position: absolute;
        //             top:58%;
        //             left:50%;
        //             @include translate(-50%,-50%);
        //         }
        //     }


        // }


    // flasharraymodule
    .ua_flasharray {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 880px;
        margin: auto;
        @include mq($until:medium) {
                flex-direction: column;
            }

        .orangeText {
            color: $orange;
        }

        .box {
            position: relative;
            width: 50%;
            @include mq($until:medium) {
                width: 100%;
                min-height: 800px;

            }

        }

        .boxLeft {
            position: relative;
            color: #e8e8e8;
            background-size: contain;
            background-position-y: 430px;
            background-repeat: no-repeat;
            background-position-x: center;
            @include mq($until:large) {
                background-position-y: 470px;
            }
            @include mq($until:medium) {
                background-position-y: 380px;
            }
            .copyLeft {
                margin-top: 100px;
                h2 {
                    color: $black;
                    padding: 0 20px;
                    @include mq($until:wide) {
                    }
                }
                p {
                    margin-top: 70px;
                    font-family: $BodyRegular;
                    color: $black;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1.6;
                    padding: 0 50px;
                    @include mq($until:wide) {
                        padding: 0 40px;

                    }
                    @include mq($until:medium) {
                        padding: 0 40px;
                    }
                }
            }

            .ctaHolder {
                position: absolute;
                margin: 0 auto;
                width: 100%;
                bottom: 100px;
            }

        }

        .boxRight{
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: 1;


            &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: black;
                opacity: 0.35;
                pointer-events: none;
            }
            .copyRight {
                margin-top: 100px;
                position: relative;
                z-index: 10;
                p {
                    color: $white;
                    font-family: $BodyRegular;
                    font-size: 15px;
                    font-weight: bold;
                    line-height: 1.6;
                    margin-top: 290px;
                    padding: 0 50px;
                    @include mq($until:wide) {
                        padding: 0 40px;

                    }
                    @include mq($until:medium) {
                        padding: 0 40px;
                    }
                    @include mq($until:small) {
                        margin-top: 200px;

                    }
                }
                h2 {
                    padding: 0 50px;
                }
            }
            .ctaHolder {
                position: absolute;
                width: 100%;
                margin: 0 auto;
                bottom: 100px;
            }

        }
    }

    // slides module
    .ua_slides {
        position: relative;
        width: 100%;
        margin: auto;
        background: black;

        .slideHolder {
            pointer-events:all;
            background-color: $black;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 600px;
            @include mq($until:wide) {
                min-height: 500px;
            }
            @include mq($until:large) {
                min-height: 400px;
            }
            .slidesBg {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0.35;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                z-index: 1;
            }
        }

        .slidesCopy {
            position: relative;
            margin: auto;
            padding: 0 4rem;
            z-index: 2;
            width: 100%;
            max-width: 700px;
            .orangeText {
                color: $orange;
            }
            @include mq($until:small) {
                //width: 60%;
            }
            h2 {
                text-align: center;
                line-height: 1.1;
                @include mq($until:wide) {
                    font-size: 30px;
                }
                @include mq($until:small) {
                    font-size: 14px;
                }
                @include mq($until:medium) {
                    font-size: 20px;
                }
                @include mq($until:large) {
                    font-size: 20px;
                }
            }
        }

        .controlsHolder {
            position: absolute;
            z-index: 5;
            width: 100%;
            height:100%;
            top:0;
            left:0;

            .controls {
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left:0;
                max-width: none;
                margin:0;

            }

            .pagination {
                max-width: 80px;
                bottom:20px;
                top: auto;
                left:50%;
                @include translate(-50%,0);
            }
        }
    }

    // minutes module
    .ua_minutes {
        background: white;
        color: $black;
        overflow: hidden;
        padding:4rem 0;
        width: 100%;

        .container-fluid {
            opacity: 0;
        }

        @include mq($until: medium) {
            padding:2rem 0;
        }

        h1, h4 {
            margin-bottom: 0;
        }

        h1 {
            color:$orange;
            line-height: 0.9;
            margin:0.5rem 0;
        }

        .watchMeter {
            position: relative;
            max-width:900px;
            margin:0 auto;
            margin-bottom:2rem;

            .meter {
                position: absolute;
                top:2%;
                left:1%;
                width:98%;
                height:96%;
                background:$orange;
                z-index: 1;
            }

            .meterLevel {
                position: absolute;
                top:0;
                left:0;
                width:0;
                height:100%;
                background:$black;
                z-index: 2;

                &.active {
                    width:64.6%;
                }
            }

            .meterImage {
                position: relative;
                z-index: 3;
            }

        }
    }


    // characters module
    .ua_characters {
        background: white;
        color: $black;
        overflow: hidden;
        width: 100%;
        margin-bottom: -7.5rem;

        @include mq($until:medium) {
            padding-bottom: 4rem;
        }

        &:after {
            content:'';
            position: absolute;
            width: 100%;
            height:7.5rem;
            background: $black;
            z-index: 4;
            bottom:0;
            left:0;
        }

        .charactersHolder {
            max-width: 1280px;
            margin:0 auto;
            position: relative;

            .char {
                //width:50%;
                width: 100%;
                max-width: 755px;

                height:700px;
                position: relative;
                //float: left;
                margin:0 auto;

                @include mq($until: large) {
                    width:100%;
                }

                @include mq($until: large) {
                    &.leftChar, &.rightChar {
                        margin:0 !important;
                    }
                }


                .charImg {
                    position: absolute;
                    width:100%;
                    height:100%;
                    top:0;
                    left:0;
                    opacity: 0;
                }

                &.leftChar {
                    margin-top:2.5rem;
                    .charImg {
                        background: url('assets/img/ua_jonny.png') no-repeat;
                        background-size:auto 100%;
                        background-position: left top;
                        right: auto;
                        left:-4rem;

                        @include mq($until: large) {
                            left:-2rem;
                        }

                        @include mq($until: small) {
                            left:-10rem;
                        }
                    }

                    .charSpeechBubble {
                        right:1rem;
                        &:before {
                            left:-2.2rem;
                        }
                    }
                }

                &.rightChar {
                    margin-top:5.5rem;
                    .charImg {
                        background: url('assets/img/ua_stanley.png') no-repeat;
                        background-size:auto 100%;
                        background-position: right top;
                        left:auto;
                        right:-4rem;

                        @include mq($until: large) {
                            right:-2rem;
                        }

                        @include mq($until: small) {
                            right:-8rem;
                        }
                    }
                    .charSpeechBubble {
                        top:2.5rem;
                        left:1rem;
                        &:before {
                            right:-0.5rem;
                        }
                    }
                }
            }

            .charSpeechBubble {
                background: $orange;
                padding:2rem;
                width:64%;
                line-height: 1.5;
                text-align: left;
                position: absolute;
                z-index: 2;
                margin-top:4rem;
                font-size: 0.95rem;
                opacity: 0;

                @include mq($until: large) {
                    width:68%;
                    padding:1.5rem;
                }

                @include mq($until: medium) {
                    width:60%;
                }

                @include mq($until: small) {
                    width:70%;
                    padding:1rem;
                    font-size: 0.9rem;
                }


                &:before {
                    content:'';
                    position: absolute;
                    border-style: solid;
                    border-width: 50px 86.6px 50px 0;
                    border-color: transparent $orange transparent transparent;
                    @include rotate(30deg);
                    top:20%;
                    z-index: -1;
                }


                .bold {
                    font-family: $HeadingBold;
                }


                .white {
                    color: white;
                }

            }


        }

    }

    // videos module

    .ua_videos {
        background: $black;
        color: white;
        overflow: visible;
        width: 100%;
        text-align: center;
        padding:4rem 0;
        @include mq($until: medium) {
            padding:2rem 0;
        }


        h3 {
            color:$orange;
            line-height: 0.9;
            margin:0;
            margin-bottom:3rem;
            font-size:2rem;
        }



        .videosHolder {
            .swiper-container {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                width: 80%;
                max-width:800px;
            }


            .videoWrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;
            }
            .videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .videoWrapper video {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        }
    }

    // signup module

    .ua_signup {
        background: $grey11;
        color: $black;
        overflow: hidden;
        padding:4rem 0;
        width: 100%;
        text-align: left;

        .container-fluid {
            max-width: 1280px;
        }

        @include mq($until: medium) {
            padding:2rem 0;
        }

        .leftCol {
            padding-right: 1rem !important;
        }

        .rightCol {
            padding-left:1rem !important;
            vertical-align: top;
            display: inline-block;
        }

        @include mq($until:large) {
            .rightCol,.leftCol {
                padding-left: 0 !important;
            }
        }

        h1, h4 {
            margin-bottom: 0;
        }

        h1 {
            color:$orange;
            line-height: 0.9;
            margin:0.5rem 0;
        }

        h4 {
            font-family: $BodyLight !important;
            line-height: 1.4;
        }

        .nf-form-cont {
            margin-top:-1.5rem;
            @include mq($until:large) {
                margin-top:0;
            }

            .nf-form-fields-required {
                display: none;
            }

            label {
                color: $orange;
            }

            input[type="text"], input[type="email"], input[type="tel"] {
                padding:0.5rem 1rem;
                border:1px solid $grey9;
                box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.35);
            }

            input[type="button"] {
                margin-top:1.3rem;
                font-size:1.2rem;
            }

            .nf-response-msg {
                margin:2rem 0;
                font-family: $HeadingBold;
                color: black;

                p {
                    font-size:2rem !important;
                }

            }

        }

    }

    // pagination controls
    .controlsHolder {
        pointer-events:none;
        .prevArrow {
            left:4rem !important;
            @include mq($until: large) {
                left:1rem !important;
            }
            @include mq($until: medium) {
                left:0.5rem !important;
            }
        }

        .nextArrow {
            right:4rem !important;
            @include mq($until: large) {
                right:1rem !important;
            }
            @include mq($until: medium) {
                right:0.5rem !important;
            }
        }
    }
    .controls {
        position: relative;
        width:100%;
        height:70px;
        max-width: 400px;
        margin:0 auto;
        margin-top:1rem;

        .prevArrow, .nextArrow {
            color: white;
            font-size:4rem;
            position: absolute;
            top:50%;
            @include translate(0,-50%);
            cursor: pointer;
            padding:1rem;
            z-index: 5;
            pointer-events:all;
        }

        .prevArrow {
            left:0;

        }

        .nextArrow {
            right:0;
        }

        .arrow {
            width:30px;
            height:30px;
            @include rotate(-45deg);
            border:2px solid white;
            cursor: pointer;

            &.left {
                border-bottom:0;
                border-right:0;
            }

            &.right {
                border-top:0;
                border-left:0;
            }
        }

        .pagination {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width:30%;
            position: absolute;
            top:50%;
            left:50%;
            @include translate(-50%,-50%);
            z-index: 5;
            pointer-events:all;

            .swiper-pagination-bullet {
                width:10px;
                height:10px;
                background: white;
            }

        }
    }
}
