section.videoGallery {
    position: relative;
    background: white;


    h2 {
		color: $white;
		font-family: $HeadingBold;
	}

	.subtitle {
		margin-top: 20px;
		margin-bottom: 25px;
		width: 100%;
		color: $white;
		font-family: $BodyRegular;
		font-size: 1rem;
	}

	.pageContent {
		background-attachment: fixed;
		background-size: cover;
	    background-position: top center;
	}


	.mainVideo {
		display: flex;
		@include mq($until:large) {
            flex-direction: column;
        }
	}

	.left {
		width: 66.6666%;
		@include mq($until:large) {
            max-width: 100%;
            min-width: 100%;
        }
	}

	.right {
		font-family: $HeadingBold;
		color: $orange;
		padding-left: 25px;
		width: 33.3333%;
		@include mq($until:large) {
            max-width: 100%;
            min-width: 100%;
            padding-left: 0;
        }
		h3 {
			color: $white;
			width: 65%;
			font-family: $HeadingBold;
			color: $orange;
			@include mq($until:large) {
				padding-top: 15px;
	            max-width: 100%;
	            min-width: 100%;
	            margin-bottom: 0px;
        	}
		}

		h5 {
			color: $white;
			@include mq($until:large) {
				margin-top: 0;
	            max-width: 100%;
	            min-width: 100%;
        	}
		}

		p {
			font-family: $BodyRegular;
			margin-top: 20px;
			color: $white;
			@include mq($until:small) {
	            margin-bottom: 0px;
	        }
		
		}
	}

	

	.allVideosContainer {
		margin-top: 4rem;
		width: calc(100% + 4rem);
		position: relative;
		margin-left:-2rem;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;

	}

	.singleVideo {
		width:33.333%;
		padding:30px;

		
		@include mq($until:large) {
            width: 50%;
        }
        @include mq($until:small) {
            width:100%;
        }
		h4 {
			padding-top: 15px;
			color: $orange;
			margin: 0;
		}

		h5 {
			color: $white;
			margin-bottom: 5px;
		}

		p {
			margin-top: 15px;
			margin-bottom: 25px;
			font-family: $BodyRegular;
			color: $white;
			
		}
	}

	


}